<app-barra></app-barra>

<div class="abajo">

  <div class="botons">
    <h1>Políticas de privacidad </h1>
</div>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et tincidunt sapien. Pellentesque elementum sollicitudin tortor, pulvinar imperdiet felis placerat non. Aliquam feugiat auctor molestie. Etiam at aliquam erat. Vivamus quis massa tempor, fringilla erat in, ultrices lorem. Duis tellus mi, lacinia a erat ac, vulputate mattis tortor. Integer ut lacus lectus. Nunc rutrum dolor purus, nec molestie magna pretium eget. Fusce cursus magna et sollicitudin suscipit. In malesuada mattis ullamcorper. Vestibulum congue mollis enim vitae sagittis. Curabitur nec dolor fermentum, condimentum felis vel, eleifend lorem. Nam nec orci rutrum, consectetur ante nec, ultricies dolor. Mauris egestas efficitur orci. Integer vitae velit nisi.
</p>
<br>

<p>Praesent lacinia ultrices tellus ut fringilla. Suspendisse potenti. Fusce sit amet sagittis neque. Suspendisse consectetur at ante vel vehicula. Praesent elementum est arcu, eget tempor lorem tristique sit amet. Nam varius pharetra purus, eu commodo nisi lobortis ac. Nullam ullamcorper aliquam mollis. Proin turpis nulla, vulputate id lorem in, ultricies egestas diam. Ut non tortor ut purus malesuada efficitur. Nulla tincidunt elit at ante vehicula consectetur. Vestibulum egestas lacus at posuere rutrum.
</p>
<br>
<p>Sed in rhoncus leo. Donec iaculis velit et dui semper sagittis. Curabitur sed mauris at eros faucibus dictum ac a dui. Suspendisse efficitur metus in turpis elementum, et tempus nisi imperdiet. Fusce fringilla risus eu eros viverra laoreet. Sed iaculis felis mi, porta euismod nulla mattis et. Pellentesque iaculis fermentum turpis, ac pretium metus ornare id. Vivamus sed tristique est, eget commodo augue. Nunc hendrerit dolor quis purus molestie, in tempor ex maximus. Donec dapibus, justo id tristique ultricies, neque neque vestibulum magna, quis mollis arcu orci vel lacus. Maecenas ut imperdiet nunc. Maecenas pulvinar viverra ante vel feugiat. Ut vestibulum tortor ipsum, ac suscipit felis mattis at.
</p>
<br>
<p>
Cras nec tortor fermentum, imperdiet urna eget, convallis ligula. Morbi sed nisi consequat, posuere justo at, bibendum mi. Cras cursus, mi molestie iaculis venenatis, augue nibh bibendum arcu, in pulvinar nibh erat a elit. Vestibulum sit amet aliquam ex. Sed scelerisque dapibus ex, eu tincidunt ipsum fringilla non. Ut imperdiet semper lacus mollis lacinia. In tempus congue nibh ut ultricies. Aliquam tincidunt tristique elit eu tincidunt. Nam eu turpis feugiat, vehicula dui a, laoreet magna. Vestibulum lacinia neque vel ex pretium congue. Sed ut ipsum velit. Suspendisse a commodo massa.
</p>
<form>
  <button class="añadir"  routerLink=#>Acepto</button>
</form>

<br>
<br>
