h1{
  color: white;
  text-align: center;
  font-size: large;
  padding: .75em;

}
h2{
  color: white;
  font-size: 1rem;
  margin-left: 1rem;
}
  /*Contenedor de informacion*/
.abajo{  
 overflow: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 2%;
  min-height: 10em;
  width: 90%;
  height: 96%;
  position: fixed;
  padding: 3%;
  }

.botons{ 
  display:flex;
  background: rgba(47, 53, 58, 0.644);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width:90%;
  right: 0;
  left: 0;
  margin-top: 0%;
  margin-bottom: 5%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;

}
  /*BOTON*/
.añadir{
  background-color: #214296;
border: none;
color: white;
padding: 16px 32px;
display: inline-block;
font-size: 16px;
margin: 15px 2px;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 20px;
margin-right:5%;
}
.añadir:hover {
  background-color:rgb(15, 42, 110);
  transform: scale(1.1);
  color: white;
  }




