<!--<app-sidebar></app-sidebar> 
<main class="s-layout__content">
    <div class="contenedor"  >
          <legend class="center"> Datos de mi empresa </legend>
        <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">
          <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="datosMiEmpresaService.selectEmpresa._id">

          <div class="form-row">
            <div class="form-group col-md-7">
              <label for="inputZip">Nombre de mi empresa:</label>
              <input type="text" class="form-control" name="nombreDeLaEmpresa"  id="inputNombreDeMiEmpresa"  placeholder="Nombre de mi empresa" #name="ngModel" [(ngModel)]="datosMiEmpresaService.selectEmpresa.nombreDeLaEmpresa">
            </div> 
            <div class="form-group col-md-5">
              <label for="inputZip">Correo:</label>
              <input type="text" class="form-control"  name="email" id="inputEmail" placeholder="Correo" #name="ngModel" [(ngModel)]="datosMiEmpresaService.selectEmpresa.email">
            </div>
            <div class="form-group col-md-5">
              <label for="inputZip">Calle:</label>
              <input type="text" class="form-control"    name="calle" id="inputCalle" placeholder="Calle" #name="ngModel" [(ngModel)]="datosMiEmpresaService.selectEmpresa.calle">
            </div>
            <div class="form-group col-md-3">
              <label for="inputZip">Numero:</label>
              <input type="text" class="form-control"    name="numero" id="inputNumero" placeholder="Numero" #name="ngModel" [(ngModel)]="datosMiEmpresaService.selectEmpresa.numero">
            </div> 
            <div class="form-group col-md-4">
              <label for="inputZip">Colonia:</label>
              <input type="text" class="form-control"   name="colonia"  id="inputUnidades" placeholder="Colonia" #name="ngModel" [(ngModel)]="datosMiEmpresaService.selectEmpresa.colonia">
            </div> 
            <div class="form-group col-md-5">
              <label for="inputZip">Pais:</label>
              <input type="text" class="form-control"    name="pais" id="inputPais"  placeholder="Pais" #name="ngModel" [(ngModel)]="datosMiEmpresaService.selectEmpresa.pais">
            </div> 
            <div class="form-group col-md-3">
              <label for="inputZip">Estado:</label>
              <input type="text" class="form-control"  name="estado"   id="inputEstado" placeholder="Estado" #name="ngModel" [(ngModel)]="datosMiEmpresaService.selectEmpresa.estado">
            </div>
            <div class="form-group col-md-4">
              <label for="inputZip">Municipio:</label>
              <input type="text" class="form-control"   name="municipio" id="inputMunicipio" placeholder="Municipio" #name="ngModel" [(ngModel)]="datosMiEmpresaService.selectEmpresa.municipio">
            </div> 
            <div class="form-group col-md-3">
                <label for="inputZip">CP:</label>
                <input type="text" class="form-control"   name="codigoPostal" id="inputCodigoPostal" placeholder="Codigo postal" #name="ngModel" [(ngModel)]="datosMiEmpresaService.selectEmpresa.codigoPostal">
              </div> 
              <div class="form-group col-md-5">
                <label for="inputZip">RFC:</label>
                <input type="text" class="form-control"  name="rfc"  id="inputRFC" placeholder="RFC" #name="ngModel" [(ngModel)]="datosMiEmpresaService.selectEmpresa.rfc">
              </div> 
          </div>
          <button class="btn btn-custom right" type="button"  (click)="resetForm(empresaForm)" > Reset </button>  
          <button class="boton" type="submit" [disabled]="!empresaForm.valid" >Finalizar</button>
        </form>
      </div> 
    

         
     <div class="contenedor">
      <form *ngFor="let dato of datosMiEmpresaService.DatosEmpresa"> 
        <div class="form-row" >
            <legend class="center"> Ver mis datos</legend>
            <div class="form-group col-md-7">
              <label  >Nombre de la empresa:</label>
              <a type="text" class="form-control"  name="nombreDeLaEmpresa">{{dato.nombreDeLaEmpresa}}
            </a></div>
            <div class="form-group col-md-5">
              <label >Correo:</label>
              <a type="email" class="form-control" placeholder="Email">{{dato.email}}</a>
            </div>
            <div class="form-group col-md-5">
              <label >Calle:</label>
              <a type="text" class="form-control" name="calle" >{{dato.calle}}</a>
            </div>
            <div class="form-group col-md-3">
              <label >Numero:</label>
              <a type="text" class="form-control"  name="numero" >{{dato.numero}}</a>
            </div>
            <div class="form-group col-md-4"> 
              <label >Colonia:</label>
              <a type="number" class="form-control"  name="colonia" >{{dato.colonia}}</a>
            </div>
            <div class="form-group col-md-5"  >
              <label >Pais:</label>
              <a type="text" class="form-control" >{{dato.pais}}</a>
            </div>
            <div class="form-group col-md-3">
              <label >Estado:</label>
              <a type="text" class="form-control" name="estado" >{{dato.estado}}</a>
            </div>  
        
            <div class="form-group col-md-4">
              <label >Municipio</label>
              <a type="text" class="form-control"  name="municipio">{{dato.municipio}}</a>
            </div>
        
            <div class="form-group col-md-3">
              <label >C.P:</label>
              <a type="text" class="form-control" name="codigoPostal">{{dato.codigoPostal}}</a>
            </div>
            <div class="form-group col-md-5">
              <label >RFC:</label>
              <a type="text" class="form-control" name="rfc" >{{dato.rfc}}</a>
            </div>
          </div>
          <a class="action-btn" (click)="onEdit(dato)" (click)="editar=!editar">
            <button class="boton boton2"><img src="./../../../assets/img/mod.png" height="15px" widht="15px" >  Actualizar</button>
          </a>
        </form>
        </div> 


        <br> 
         </main>
        -->

        <app-sidebar></app-sidebar> 
<main class="s-layout__content">
    <div class="contenedor"  >
          <legend class="center"> Datos de mi empresa </legend>
          <form [formGroup]="empresaForm" (ngSubmit)="onSubmit()">

          <input type="hidden" formControlName="_id" [(ngModel)]="datosMiEmpresaService.selectEmpresa._id">

          <div class="form-row">
            <div class="form-group col-md-7">
              <label for="inputZip">Nombre de mi empresa:</label>
              <input type="text" class="form-control" formControlName="nombreDeLaEmpresa" [(ngModel)]="datosMiEmpresaService.selectEmpresa.nombreDeLaEmpresa"
              [class.is-invalid] = "nombreDeLaEmpresa.invalid && (nombreDeLaEmpresa.dirty || nombreDeLaEmpresa.touched)">
              <div  *ngIf="(nombreDeLaEmpresa.invalid && nombreDeLaEmpresa.touched) || nombreDeLaEmpresa.dirty">
                <small *ngIf="nombreDeLaEmpresa.errors?.required" class="text-danger">Nombre de la empresa requerida</small>
              </div> 
            </div> 
            <div class="form-group col-md-5">
              <label for="inputZip">Correo:</label>
              <input type="email" class="form-control" formControlName="email"  [(ngModel)]="datosMiEmpresaService.selectEmpresa.email" [class.is-invalid] = "email.invalid && (email.dirty || email.touched)" placeholder="email@ejemplo.com">
          <div *ngIf="(email.invalid && email.touched) || email.dirty">      
            <small *ngIf="email.errors?.required" class="text-danger">Email requerido</small>    
            <small *ngIf="email.errors?.pattern" class="text-danger">Ingrese un email válido</small>  
          </div>
            </div>
            <div class="form-group col-md-5">
              <label for="inputZip">Calle:</label>
              <input type="text" class="form-control" formControlName="calle" [(ngModel)]="datosMiEmpresaService.selectEmpresa.calle" [class.is-invalid] = "calle.invalid && (calle.dirty || calle.touched)">
              <div  *ngIf="(calle.invalid && calle.touched) || calle.dirty">
                <small *ngIf="calle.errors?.required" class="text-danger">Calle requerida</small>
              </div> 
            </div>
            <div class="form-group col-md-3">
              <label for="inputZip">Número:</label>
              <input type="text" class="form-control" formControlName="numero" [(ngModel)]="datosMiEmpresaService.selectEmpresa.numero" [class.is-invalid] = "numero.invalid && (numero.dirty || numero.touched)">
              <div  *ngIf="(numero.invalid && numero.touched) || numero.dirty">
                <small *ngIf="numero.errors?.required" class="text-danger">Número requerido</small>
              </div> 
            </div> 
            <div class="form-group col-md-4">
              <label for="inputZip">Colonia:</label>
              <input type="text" class="form-control" formControlName="colonia"[(ngModel)]="datosMiEmpresaService.selectEmpresa.colonia" [class.is-invalid] = "colonia.invalid && (colonia.dirty || colonia.touched)">
              <div  *ngIf="(colonia.invalid && colonia.touched) || colonia.dirty">
                <small *ngIf="colonia.errors?.required" class="text-danger">Colonia requerida</small>
              </div> 
            </div> 
            <div class="form-group col-md-5">
              <label for="inputZip">País:</label>
              <input type="text" class="form-control" formControlName="pais"[(ngModel)]="datosMiEmpresaService.selectEmpresa.pais" [class.is-invalid] = "pais.invalid && (pais.dirty || pais.touched)">                
              <div  *ngIf="(pais.invalid && pais.touched) || pais.dirty">       
                <small *ngIf="pais.errors?.required" class="text-danger">País requerido</small>     
              </div>
            </div> 
            <div class="form-group col-md-3">
              <label for="inputZip">Estado:</label>
              <input type="text" class="form-control" formControlName="estado" [(ngModel)]="datosMiEmpresaService.selectEmpresa.estado"[class.is-invalid] = "estado.invalid && (estado.dirty || estado.touched)">       
              <div  *ngIf="(estado.invalid && estado.touched) || estado.dirty">        
                <small *ngIf="estado.errors?.required" class="text-danger">Estado requerido</small>        
              </div> 
            </div>
            <div class="form-group col-md-4">
              <label for="inputZip">Municipio:</label>
              <input type="text" class="form-control" formControlName="municipio"[(ngModel)]="datosMiEmpresaService.selectEmpresa.municipio" [class.is-invalid] = "municipio.invalid && (municipio.dirty || municipio.touched)">
              <div  *ngIf="(municipio.invalid && municipio.touched) || municipio.dirty">
                <small *ngIf="municipio.errors?.required" class="text-danger">Municipio requerido</small>
              </div> 
            </div> 
            <div class="form-group col-md-3">
                <label for="inputZip">C.P:</label>
                <input type="text" class="form-control" formControlName="codigoPostal"[(ngModel)]="datosMiEmpresaService.selectEmpresa.codigoPostal" [class.is-invalid] = "codigoPostal.invalid && (codigoPostal.dirty || codigoPostal.touched)">
                <div  *ngIf="(codigoPostal.invalid && codigoPostal.touched) || codigoPostal.dirty">
                  <small *ngIf="codigoPostal.errors?.required" class="text-danger">C.P. requerido</small>

                </div> 
              </div> 
              <div class="form-group col-md-5">
                <label for="inputZip">RFC:</label>
                <input type="text" class="form-control"formControlName="rfc" [(ngModel)]="datosMiEmpresaService.selectEmpresa.rfc"[class.is-invalid] = "rfc.invalid && (rfc.dirty || rfc.touched)">
                <div  *ngIf="(rfc.invalid && rfc.touched) || rfc.dirty">
                  <small *ngIf="rfc.errors?.required" class="text-danger">RFC requerido</small>
                </div> 
              </div> 
          </div>
          <button class="btn btn-custom right" type="button"  (click)="resetForm()" > Reset </button>  
          <button class="boton" type="submit"  >Finalizar</button>
        </form>
      </div> 
    

         
     <div class="contenedor">
      <form *ngFor="let dato of datosMiEmpresaService.DatosEmpresa"> 
        <div class="form-row" >
            <legend class="center"> Ver mis datos</legend>
            <div class="form-group col-md-7">
              <label  >Nombre de la empresa:</label>
              <a type="text" class="form-control"  name="nombreDeLaEmpresa">{{dato.nombreDeLaEmpresa}}
            </a></div>
            <div class="form-group col-md-5">
              <label >Correo:</label>
              <a type="email" class="form-control" placeholder="Email">{{dato.email}}</a>
            </div>
            <div class="form-group col-md-5">
              <label >Calle:</label>
              <a type="text" class="form-control" name="calle" >{{dato.calle}}</a>
            </div>
            <div class="form-group col-md-3">
              <label >Número:</label>
              <a type="text" class="form-control"  name="numero" >{{dato.numero}}</a>
            </div>
            <div class="form-group col-md-4"> 
              <label >Colonia:</label>
              <a type="number" class="form-control"  name="colonia" >{{dato.colonia}}</a>
            </div>
            <div class="form-group col-md-5"  >
              <label >País:</label>
              <a type="text" class="form-control" >{{dato.pais}}</a>
            </div>
            <div class="form-group col-md-3">
              <label >Estado:</label>
              <a type="text" class="form-control" name="estado" >{{dato.estado}}</a>
            </div>  
        
            <div class="form-group col-md-4">
              <label >Municipio</label>
              <a type="text" class="form-control"  name="municipio">{{dato.municipio}}</a>
            </div>
        
            <div class="form-group col-md-3">
              <label >C.P:</label>
              <a type="text" class="form-control" name="codigoPostal">{{dato.codigoPostal}}</a>
            </div>
            <div class="form-group col-md-5">
              <label >RFC:</label>
              <a type="text" class="form-control" name="rfc" >{{dato.rfc}}</a>
            </div>
          </div>
          <a class="action-btn" (click)="onEdit(dato)" (click)="editar=!editar">
            <button class="boton boton2"><img src="./../../../assets/img/mod.png" height="15px" widht="15px" >  Actualizar</button>
          </a>
        </form>
        </div> 


        <br> 
         </main>