<div class="arriba">
  <table>
    <tr>
      <th>Empresa: </th>
      <td> Sanders</td>
      <th>Dueño: </th>
      <td>Maria Anders</td>
    </tr>
    <tr>
      <th>Dirreción: </th>
      <td>Avenida Siempre Viva</td>
      <th>RFC: </th>
      <td>4TGJFXFGHJRYK</td>
    </tr>

  </table>

<form>
  <button class="añadir">Añadir</button>
  <input type="text" name="search" placeholder="Buscar...">
</form>
</div>

<div class="abajo">
  <div class="partes">
      <table>
        <tr>
          <td>
            <button class=" mod "><img height="25px" width="30px" src="../assets/img/mod.png"></button>
            <button class="eli "><img height="25px" width="30px" src="../assets/img/basura.png"></button>
          </td>
          <td><p>
            Contenido
          </p></td>
        </tr>
      </table>
</div>
<div class="partes">
  <table>
    <tr>
      <td>
        <button class=" mod "><img height="25px" width="30px" src="../assets/img/mod.png"></button>
        <button class="eli "><img height="25px" width="30px" src="../assets/img/basura.png"></button>
      </td>
      <td><p>
        Contenido
      </p></td>
    </tr>
  </table>
</div>  <div class="partes">
  <table>
    <tr>
      <td>
        <button class=" mod "><img height="25px" width="30px" src="../assets/img/mod.png"></button>
        <button class="eli "><img height="25px" width="30px" src="../assets/img/basura.png"></button>
      </td>
      <td><p>
        Contenido
      </p></td>
    </tr>
  </table>
</div>  <div class="partes">
  <table>
    <tr>
      <td>
        <button class=" mod "><img height="25px" width="30px" src="../assets/img/mod.png"></button>
        <button class="eli "><img height="25px" width="30px" src="../assets/img/basura.png"></button>
      </td>
      <td><p>
        Contenido
      </p></td>
    </tr>
  </table>
</div>

</div>
