<div class="arriba">
  <table>
    <tr>
      <th>Empresa: </th>
      <td> Sanders</td>
      <th>Dueño: </th>
      <td>Maria Anders</td>
    </tr>
    <tr>
      <th>Dirreción: </th>
      <td>Avenida Siempre Viva</td>
      <th>RFC: </th>
      <td>4TGJFXFGHJRYK</td>
    </tr>

  </table>
<form>
  <button class="añadir">Añadir</button>
  <input type="text" name="search" placeholder="Buscar...">
</form>
</div>

<div class="abajo">
  <div class="botons">
  <table>
    <td>
      <button class=" mod "><img height="25px" width="25px" src="../../../assets/img/mod.png"></button>
    </td> <td> ⠀</td><!--caracter invisible-->
    <td>
      <button class="eli "><img height="25px" width="25px" src="../../../assets/img/basura.png"></button>
    </td>
    <td>
      <h1>Titulo: </h1>
    </td>
    <td>
      <h2>Contenido </h2>
    </td>
  </table>
</div>
  <div class="partes">
     <p>
          Contenido
    </p>
</div>
<div class="botons">
  <table>
    <td>
      <button class=" mod "><img height="25px" width="25px" src="../assets/img/mod.png"></button>
    </td> <td> ⠀</td><!--caracter invisible-->
    <td>
      <button class="eli "><img height="25px" width="25px" src="../assets/img/basura.png"></button>
    </td>
    <td>
      <h1>Titulo: </h1>
    </td>
    <td>
      <h2>Contenido </h2>
    </td>
  </table>
</div>
  <div class="partes">
     <p>  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido  Contenido
          </p>
</div>

</div>
