<app-barra></app-barra>

<div class="contenedor">
  <img  src="../assets/img/LogoFinal.png">
    <h4>Para solicitar una nueva contraseña ingrese su correo:</h4>
    <br>
    <form #empresaForm="ngForm" (submit)="recover()" required>
      <div class="form-group">
  
        <h5>Correo:</h5>
        <input type="text" [(ngModel)]="recovery.correo" name="correo" class="form-control" >
      </div>
  
  <div class="botones">
  <button class="login" type="submit">Enviar</button>
  </div>
    </form>
  </div>