
.plus{
  text-align:left;
  font-size: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  right: 0;
  left: 0;
  min-width: 110px;
  margin-right: 8%;
  margin-left: 1%;
  margin-bottom: -5%;
  margin-top: 3%;
  width: 5%;
  height: 5%;
  padding-left: 0%;
  padding-top: 0%;
  padding-right: 5%;
  padding-bottom: 4%;
}
.button {
  background-color: rgb(49, 110, 180); 
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.arriba {
  margin-left: 10px;
  background-color: rgba(0, 162, 255, 0);
  color: black; 
  border-radius: 10%;
}
.arriba:hover {
  background-color: rgb(9, 60, 119);
  color: rgb(255, 255, 255); 
  border-radius: 10px;
}
.ver {
  background-color: rgba(31, 101, 158, 0.774);
  color: black; 
  border-radius: 10%;
  box-shadow: 3px 3px;
}

.ver:hover {
  background-color: rgb(9, 60, 119);
  color: black; 
  }

.editar {
  background-color: rgb(50, 153, 50);
  color: black; 
  border-radius: 10%;
  box-shadow: 3px 3px;
}

.editar:hover {
  background-color: rgb(14, 92, 27);
  color: black; 
  }

.borrar {
background-color: rgba(211, 46, 46, 0.884);
  color: black; 
  border-radius: 10%;
  box-shadow: 3px 3px;
}

.borrar:hover {
  background-color: #8f2828f1;
  color: black; 
}
.fact {
  background-color: rgb(235, 191, 47);
    color: black; 
    border-radius: 10%;
    box-shadow: 3px 3px;
  }
  
  .fact:hover {
    background-color: rgb(182, 149, 40);
    color: black; 
  }
.boton {
  background-color: #214296;
  border: none;
  color: white;
  padding: 10px 15px;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
 }

  .boton:hover {
  background-color:rgb(15, 42, 110);
  transform: scale(1.1);
  color: white;
  }



.contenedor{
  overflow: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0%;
  width: 98%;
  height: 75%;
  margin-top: 0%;
  min-height: 10em;
  padding: 1%;
  font-size: 20px;
}

.tablas{
  overflow: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0%;
  width: 98%;
  height: 75%;
  margin-top: 0%;
  min-height: 10em;
  padding: 1%;
  font-size: 20px;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}



@media screen and (max-width: 600px) {
  .column {
    width: 25%;
    display: block;
    margin-bottom: 20px;
  }
}
  .busqueda {
    width: 11%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    background-image: url('/assets/img/buscar.png');
    background-position: 15px 8px;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 1%;
  }
  
  .busqueda:focus {
    width: 98%;
  }

  /* Layout */
.s-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin-top: 0%;
}

.centrarcards{
  margin-left: 20px;
}
.s-layout__content {
  justify-content: center;
  align-items: center;
  flex: 1;
}
@media (min-width: 42em) {
  .s-layout__content {
     margin-left: 2em;
  }
}
  
@media (min-width: 68em) {
  .s-layout__content {
     margin-left: 10em;
  }
}

.is-invalid{
  border: 1px solid rgb(255, 0, 0);
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    td:nth-of-type(1):before {
        content: "Articulo o Servicio	:";
    }
    td:nth-of-type(2):before {
        content: "Nombre:";
    }
    td:nth-of-type(3):before {
        content: "Precio:";
    }
    td:nth-of-type(4):before {
        content: "U.Med:";
    }
    td:nth-of-type(5):before {
        content: "Ver:";
    }
    td:nth-of-type(6):before {
        content: "Editar:";
    }
    td:nth-of-type(7):before {
      content: "Borrar:";
  }
    th:nth-of-type(1):before {
      content: "#";
  }
}


