<app-sidebar></app-sidebar>

<div class="main">
  
    <app-cards></app-cards>
    <div class="plus">
      <button class="button button1" type="submit" routerLink="/datos-emisor"><strong>Agregar</strong></button>
      <a></a>
    </div>
   
<div class="contenedor">
  <p style="text-align:center; font-size: 30px;"><strong>Clientes</strong></p>
  <table class="table">
    <thead class="thead">
      <tr>

        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estatus</th>
        <th scope="col">Ver</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">

      </form>
      <tr *ngFor="let emp of datosEmpresaService.DatosEmpresa; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{emp.nombreDeLaEmpresa}}</td>
        <td>{{emp.estatus}}</td>
        <td class="b1">
          <a a [routerLink]="[ '/cliente-ver']">
          <!-- <a class="action-btn" (click)="onDelete(emp._id, empresaForm)"> -->
            <button class="button button1" ><img src="./../../../assets/img/ojo.png" height="15px" widht="15px" ></button>
          </a>
        </td>
        <td class="b2" > 
          <a [routerLink]="[ '/datos-emisor']"><button class="button button2" ><img src="./../../../assets/img/mod.png" height="15px" widht="15px" ></button>
        </a></td>
        <td class="b3">
          <a class="action-btn" (click)="onDelete(emp._id, empresaForm)">
            <button class="button button3" ><img src="./../../../assets/img/basura.png" height="15px" widht="15px" ></button>
          </a>
        </td>
        
      </tr>
    </tbody>
  </table>



</div>


</div>


