
<div class="container">
  <p class="card-text"></p>
  <div class="card-deck">
    <div class="card " routerLink="/principal">
      <div class="card-body text-center">
        <p class="card-text" >Proveedores</p>
      </div>
    </div>
    <div class="card "  routerLink="/clientes">
      <div class="card-body text-center">
        <p class="card-text" >Clientes</p>
      </div>
    </div>
    <div class="card " routerLink="/principal">
      <div class="card-body text-center">
        <p class="card-text" >Facturacion</p>
      </div>
    </div>

  </div>
</div>
