<app-sidebar></app-sidebar>
<main class="s-layout__content">
  <div class="centrarcards">
    <app-cards></app-cards>
<div class="cartas">
</div>
<div class="contenedor">

    <legend class="center">Nuevo Articulos y servicios</legend>
  
    <form #ArtServForm="ngForm" (ngSubmit)="onSubmit(ArtServForm)">
      <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="articuloServicioService.selectArtServ._id">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputZip">Articulo o Servicio:</label>
        <input type="text" class="form-control"   id="inputArticuloServicio" name="articuloServicio" #name="ngModel" [(ngModel)]="articuloServicioService.selectArtServ.articuloServicio" placeholder="Ejem: Gabinete, Monitor, Agua">
      </div> 
      <div class="form-group col-md-6">
        <label for="inputZip">Nombre:</label>
        <input type="text" class="form-control"   id="inputNombre" name="nombre" #name="ngModel" [(ngModel)]="articuloServicioService.selectArtServ.nombre" placeholder="Ejem: Laptop">
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Precio:</label>
        <input type="text" class="form-control"   id="inputPrecio" name="precio" #name="ngModel" [(ngModel)]="articuloServicioService.selectArtServ.precio" placeholder="Ejem: 1000">
      </div> 
      <div class="form-group col-md-12">
        <legend class="center">Unidad de Medida</legend>
      </div>
      <div class="form-group col-md-2">
        <label for="inputState">Tipo: </label>
        <input type="text" list="Tipo" class="form-control busqueda" name="unidadTipo"
        [(ngModel)]='articuloServicioService.selectArtServ.unidadTipo' (change)="ore(articuloServicioService.selectArtServ.unidadTipo,ArtServForm)">
        <datalist  id="Tipo">
          <!-- <select> -->
            <div *ngFor="let emp of unidades2">
            <div *ngIf="emp.parent==null">
            <option   [value]="emp.Nombre"></option>  
            </div>
          </div>
          <!-- </select> -->
        </datalist> 
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Sub Tipo: </label>
        <input type="text" list="Subtipo"  class="form-control busqueda" name="unidadSubtipo"
        [(ngModel)]='articuloServicioService.selectArtServ.unidadSubtipo' (change)="ore2(articuloServicioService.selectArtServ.unidadSubtipo,ArtServForm)">
        <datalist  id="Subtipo">
          <!-- <select> -->
            <div *ngFor="let emp of unidades2">
            <div *ngIf="emp.parent==parents">
            <option   [value]="emp.Nombre"></option>  
          </div>
          </div>
          <!-- </select> -->
        </datalist> 
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Unidad: </label>
        <input type="text" list="Unidad"  class="form-control busqueda" name="unidad"
        [(ngModel)]='articuloServicioService.selectArtServ.unidad' (change)="ore3(articuloServicioService.selectArtServ.unidad,ArtServForm)">
        <datalist  id="Unidad">
          <!-- <select> -->
            <div *ngFor="let emp of unidades2">
            <div *ngIf="emp.parent==parents2">
            <option   [value]="emp.Desc"></option>  
          </div>
          </div>
          <!-- </select> -->
        </datalist> 
      </div>
      <div class="form-group col-md-1">
        
        <label for="inputState">Codigo: </label>
        <a type="text" class="form-control">{{parents3}}</a>
        <input type="hidden" [(ngModel)]='articuloServicioService.selectArtServ.unidadCodigo' [value]="parents3">
         
      </div>

      
      <div class="form-group col-md-12">
        <legend class="center">Producto o servicio</legend>
      </div>
      <div class="form-group col-md-2">
        <label for="inputState">Tipo: </label>
        <input type="text" list="STipo" class="form-control busqueda" name="productoTipo"
        [(ngModel)]='articuloServicioService.selectArtServ.productoTipo' (change)="sore(articuloServicioService.selectArtServ.productoTipo,ArtServForm)">
        <datalist  id="STipo">
          <!-- <select> -->
            <div *ngFor="let emp of productooserv">
            <div *ngIf="emp.Parent==null">
            <option   [value]="emp.Nombre"></option>  
            </div>
          </div>
          <!-- </select> -->
        </datalist> 
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Divicion: </label>
        <input type="text" list="SSubtipo"  class="form-control busqueda" name="productoDivision"
        [(ngModel)]='articuloServicioService.selectArtServ.productoDivision' (change)="sore2(articuloServicioService.selectArtServ.productoDivision,ArtServForm)">
        <datalist  id="SSubtipo">
          <!-- <select> -->
            <div *ngFor="let emp of productooserv">
            <div *ngIf="emp.Parent==sparents">
            <option   [value]="emp.Nombre"></option>  
          </div>
          </div>
          <!-- </select> -->
        </datalist> 
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Grupo: </label>
        <input type="text" list="SCodigo"  class="form-control busqueda" name="productoGrupo"
        [(ngModel)]='articuloServicioService.selectArtServ.productoGrupo' (change)="sore3(articuloServicioService.selectArtServ.productoGrupo,ArtServForm)">
        <datalist  id="SCodigo">
          <!-- <select> -->
            <div *ngFor="let emp of productooserv">
            <div *ngIf="emp.Parent==sparents2">
            <option   [value]="emp.Nombre"></option>  
          </div>
          </div>
          <!-- </select> -->
        </datalist> 
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Clase: </label>
        <input type="text" list="SClase"  class="form-control busqueda" name="productoClase"
        [(ngModel)]='articuloServicioService.selectArtServ.productoClase' (change)="sore4(articuloServicioService.selectArtServ.productoClase,ArtServForm)">
        <datalist  id="SClase">
          <!-- <select> -->
            <div *ngFor="let emp of productooserv">
            <div *ngIf="emp.Parent==sparents3">
            <option   [value]="emp.Nombre"></option>  
          </div>
          </div>
          <!-- </select> -->
        </datalist> 
      </div>
      
    </div>
    <button class="btn btn-custom right" type="button"  (click)="resetForm(ArtServForm)" > Reset </button>
    <button class="boton" type="submit" [disabled]="!ArtServForm.valid" >Finalizar</button>
  </form>
  </div>
</div>
</main>
     
    







    
