<app-sidebar></app-sidebar>
<main class="s-layout__content">
    <app-cards></app-cards>

<div class="contenedor">

    <legend class="center">Nuevo Artículos y Servicios</legend>
  
    <form #ArtServForm="ngForm" (ngSubmit)="onSubmit(ArtServForm)">
      <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="articuloServicioService.selectArtServ._id">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputZip">Artículo o Servicio:</label>

        <input type="text" class="form-control"   id="inputArticuloServicio" name="articuloServicio" #name="ngModel" [(ngModel)]="articuloServicioService.selectArtServ.articuloServicio" placeholder="Ejem: Gabinete, Monitor, Agua">

      </div> 
      <div class="form-group col-md-6">
        <label for="inputZip">Nombre:</label>
        <input type="text" class="form-control"   id="inputNombre" name="nombre" #name="ngModel" [(ngModel)]="articuloServicioService.selectArtServ.nombre" placeholder="Ej: Laptop">
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Precio:</label>
        <input type="text" class="form-control"   id="inputPrecio" name="precio" #name="ngModel" [(ngModel)]="articuloServicioService.selectArtServ.precio" placeholder="Ej: 1000">
      </div> 
      <div class="form-group col-md-12">
        <legend class="center">Unidad de Medida</legend>
      </div>
      <div class="form-group col-md-2">
        <label for="inputState">Tipo: </label>
        <input type="text" list="Tipo" class="form-control busqueda" name="unidadTipo"
        [(ngModel)]='articuloServicioService.selectArtServ.unidadTipo' (change)="ore(articuloServicioService.selectArtServ.unidadTipo,ArtServForm)">
        <datalist  id="Tipo">
          <!-- <select> -->
            <div *ngFor="let emp of unidades2">
            <option   [value]="emp.Nombre"></option>  
          </div>
          <!-- </select> -->
        </datalist> 
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Nombre: </label>
        <a type="text" class="form-control">{{tip}}</a>
        <input type="hidden" name="unidadSubtipo" [(ngModel)]='articuloServicioService.selectArtServ.unidadSubtipo'>
      </div>
      <div class="form-group col-md-1">
        
        <label for="inputState">Código: </label>
        <a type="text" class="form-control">{{cla}}</a>
        <input type="hidden" name="unidadCodigo" [(ngModel)]='articuloServicioService.selectArtServ.unidadCodigo'>
         
      </div>

      
      <div class="form-group col-md-12">
        <legend class="center">Producto o Servicio</legend>
      </div>
      
      <div class="form-group col-md-3">
        <label for="productoTipo">Tipo: </label>
        <select type="text" class="form-control"  name="productoTipo" #name="ngModel" 
            [(ngModel)]="articuloServicioService.selectArtServ.productoTipo" (change)="getTipo(articuloServicioService.selectArtServ.productoTipo,ArtServForm)">
              <option value="Producto">Producto</option>
              <option value="Servicio">Servicio</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Division: </label>
        <input type="text" list="DTipo" class="form-control" name="productoDivision"
        [(ngModel)]='articuloServicioService.selectArtServ.productoDivision' (change)="getDivision(articuloServicioService.selectArtServ.productoDivision,ArtServForm)">
        <datalist  id="DTipo">
          <!-- <select> -->
            <div *ngFor="let cat of catalogoService.info">
              <div *ngIf="elTipo==cat.tipo">
            <option [value]="cat.division"></option>  
          </div>
          </div>
          <!-- </select> -->
        </datalist> 
      </div>
      <div class="form-group col-md-5">
        <label for="productoGrupo">Grupo: </label>
        <input type="text" list="GTipo" class="form-control" name="productoGrupo"
        [(ngModel)]='articuloServicioService.selectArtServ.productoGrupo' (change)="getGrupo(articuloServicioService.selectArtServ.productoGrupo,ArtServForm)">
        <datalist  id="GTipo">
          <!-- <select> -->
            <div *ngFor="let cat of catalogoService.info">
              <div *ngIf="laDivision==cat.division">
            <option [value]="cat.grupo"></option>  
          </div>
          </div>
          <!-- </select> -->
        </datalist> 
      </div>
      <div class="form-group col-md-4">
        <label for="productoClase">Clase: </label>
        <input type="text" list="CTipo" class="form-control" name="productoClase"
        [(ngModel)]='articuloServicioService.selectArtServ.productoClase' (change)="getClase(articuloServicioService.selectArtServ.productoClase,ArtServForm)">
        <datalist  id="CTipo">
          <!-- <select> -->
            <div *ngFor="let cat of catalogoService.info">
              <div *ngIf="elGrupo==cat.grupo">
            <option [value]="cat.clase"></option>  
          </div>
          </div>
          <!-- </select> -->
        </datalist> 
      </div>
      <div class="form-group col-md-3">
        <label for="productoClave">Clave:</label>
          <a class="form-control">{{clav}}</a>              
          <input type="hidden" id="productoClave" class="form-control" name="productoClave" #name="ngModel" [(ngModel)]="articuloServicioService.selectArtServ.productoClave">
      </div>
      
    </div>
    <button class="btn btn-custom right" type="button"  (click)="resetForm(ArtServForm)" > Reset </button>
    <button class="boton" type="submit" [disabled]="!ArtServForm.valid" >Finalizar</button>
  </form>
  </div>
</main>
     
    







    
