<app-barra></app-barra>
<!--
<div class="contenedor">

  <h2>Registro</h2>
  <form #empleadoForm="ngForm" (submit)="signUp()" required>
<h4>Correo:</h4>
<input type="email" [(ngModel)]="user.email" id="fname" name="email" placeholder="Correo" required autofocus><br><br>
<h4>Contraseña:</h4>
<input type="password" id="fname" [(ngModel)]="user.password" placeholder="Contraseña"  name="password" pattern="^(?=(?:.*\d){1})(?=((?:.*\W){1}))(?=(?:.*[A-Z]){1})(?=(?:.*[a-z]){1})\S{8,}$"><br><br>
 
<h4>Confirmar Contraseña:</h4>
<input type="password" id="fname" [(ngModel)]="user.password2" name="password" placeholder="Contraseña" pattern="^(?=(?:.*\d){1})(?=((?:.*\W){1}))(?=(?:.*[A-Z]){1})(?=(?:.*[a-z]){1})\S{8,}$"><br><br>

<label class="recordar"> Acepto las <a href="/politicas"> Politicas de Privacidad</a>
  <input type="checkbox">
  <span class="checkbox"></span>
</label>
<div class="botones">
<button class="login" type="submit" [disabled]="!empleadoForm.valid" >Registrarse</button>
</div>

</form>
</div>-->
<div class="contenedor">
  <h2>Registro</h2>
  <form [formGroup]="registroForm" (submit)="signUp()">

    <div class="form-group">    
      <input type="email" formControlName="email" placeholder="Email" [class.is-invalid] = "email.invalid && (email.dirty || email.touched)">   
      <div *ngIf="(email.invalid && email.touched) || email.dirty">      
        <small *ngIf="email.errors?.required" class="text-danger">Email requerido</small>    
        <small *ngIf="email.errors?.pattern" class="text-danger">Ingresa un email válido</small>  
      </div>
    </div>

    <div class="form-group">    
      <input type="password" formControlName="password"  placeholder="Contraseña"  [class.is-invalid] = "password.invalid && (password.dirty || password.touched)">  
        <div *ngIf="(password.invalid && password.touched) || password.dirty">
          <small *ngIf="password.errors?.required" class="text-danger">Contraseña requerida</small>
          <small *ngIf="password.errors?.pattern" class="text-danger">Ingresa una contraseña válida, mínimo ocho caracteres, al menos una letra minúscula, una mayúscula y un número</small>
        </div>  
    </div>

    
    <div class="form-group">    
      <input type="password" formControlName="confirmpassword"  placeholder="Confirmar contraseña"  [class.is-invalid] = "confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">  
        <div *ngIf="(confirmpassword.invalid && confirmpassword.touched) || confirmpassword.dirty">
          <small *ngIf="confirmpassword.errors?.required" class="text-danger">Contraseña requerida</small>
          <small *ngIf="confirmpassword.errors?.pattern" class="text-danger">Ingresa una contraseña válida, mínimo ocho caracteres, al menos una letra minúscula, una mayúscula y un número</small>
        </div>  
    </div>

    <label class="recordar"> Acepto las <a href="/politicas"> Políticas de Privacidad</a>
      <input type="checkbox">
      <span class="checkbox"></span>
    </label>
    <div class="botones">
    <button class="login" type="submit"  >Registrarse</button>
    </div>





  </form>


</div>