<app-sidebar></app-sidebar>

<div class="main">
  
    <app-cards></app-cards>
    <div class="skip">   </div>
    <div class="plus">
      <button class="button button1" type="submit" routerLink="/DatosReceptor"><strong>+</strong></button>
    </div>
   
<div class="contenedor">
  <p style="text-align:center; font-size: 30px;"><strong>Clientes</strong></p>
  <table class="table">
    <thead class="thead">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Dato de Cliente</th>
        <th scope="col">Accion</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Contenido</td>
        <td>Contenido</td>
        <td class="b1" > <button class="button button2" ><img src="./../../../assets/img/mod.png" height="15px" widht="15px" >   </button></td>
        <td class="b2"><button class="button button3" ><img src="./../../../assets/img/basura.png" height="15px" widht="15px" ></button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Contenido</td>
        <td>Contenido</td>
        <td class="b1" > <button class="button button2" ><img src="./../../../assets/img/mod.png" height="15px" widht="15px" >   </button></td>
        <td class="b2"><button class="button button3" ><img src="./../../../assets/img/basura.png" height="15px" widht="15px" ></button></td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Contenido</td>
        <td>Contenido</td>
        <td class="b1" > <button class="button button2" ><img src="./../../../assets/img/mod.png" height="15px" widht="15px" >   </button></td>
        <td class="b2"><button class="button button3" ><img src="./../../../assets/img/basura.png" height="15px" widht="15px" ></button></td>

      </tr>
    </tbody>
  </table>



</div>


</div>


