
.center{
  text-align: center;
}


.contenedor{
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    min-height: 10em;
    width: 70%;
    padding: 1%;
  }

 
  h4{
   position: relative;
   margin-left: 2rem;
   padding: 25px;
   font-size: 18px;

  }
  input{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgb(0, 0, 0);
  background: #EAE7E7;
  border: 1px solid #5783F3;

  }
  select{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgb(0, 0, 0);
    background: #EAE7E7;
    border: 1px solid #5783F3;
    margin: 0;
    box-sizing: border-box;
    }
  

  .boton {
  background-color: #214296;
  border: none;
  color: white;
  padding: 10px 15px;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
 }

  .boton:hover {
  background-color:rgb(15, 42, 110);
  transform: scale(1.1);
  color: white;
  }

 /* Layout */
 .s-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin-top: 0%;
}

.centrarcards{
  margin-left: 20px;
}
.s-layout__content {
  justify-content: center;
  align-items: center;
  flex: 1;
}
@media (min-width: 42em) {
  .s-layout__content {
     margin-left: 2em;
  }
}
  
@media (min-width: 68em) {
  .s-layout__content {
     margin-left: 10em;
  }
}


.is-invalid{
  border: 1px solid rgb(255, 0, 0);
}