<!--<app-sidebar></app-sidebar>
<main class="s-layout__content">
  <div class="centrarcards">
    <app-cards></app-cards>
  </div>
<div class="contenedor">

    <legend class="center"> Datos del proveedor</legend>
  
    <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">
      <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa._id">

    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputEmail4" >Nombre del proveedor:</label>
        <input type="text" class="form-control" id="inputEmail4" name="nombreDeLaEmpresa" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.nombreDeLaEmpresa" placeholder="Nombre" required autofocus >
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Estatus:</label>
        <input type="text" class="form-control" id="inputEstatus" name="estatus" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.estatus" placeholder="Estatus">
      </div>
      <div class="form-group col-md-8">
        <label for="inputZip">Correo:</label>
        <input type="email" class="form-control" id="inputCorreo" name="email" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.email" placeholder="Email">
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Teléfono:</label>
        <input type="telefono" class="form-control" id="inputTel" name="telefono" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.telefono" placeholder="Teléfono">
      </div>
      <div class="form-group col-md-5">
        <label for="inputZip">Método:</label>
        <input type="text" class="form-control" id="inputMetodo" name="metodo" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.metodo" placeholder="Método">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Días:</label>
        <input type="number" class="form-control" id="inputDias" name="dias" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.dias" placeholder="Días">
      </div>
      <div class="form-group col-md-5"  >
        <label for="inputZip">RFC:</label>
        <input type="text" class="form-control" id="inputRFC" #name="ngModel" name="rfc" [(ngModel)]="datosEmpresaService.selectEmpresa.rfc" placeholder="RFC">
      </div>
  
      <div class="form-group col-md-7">
        <label for="inputZip">Razón Social:</label>
        <input type="text" class="form-control" id="inputRazon" name="razon" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.razon" placeholder="Razón Social">
      </div>  
  
      
      <legend class="center"><h4>     Dirección    </h4></legend>
      <div class="form-group col-md-6">
        <label for="inputZip">Calle</label>
        <input type="text" class="form-control" id="inputCalle" name="calle" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.calle" placeholder="Calle">
      </div>
  
      <div class="form-group col-md-4">
        <label for="inputZip">Colonia:</label>
        <input type="text" class="form-control" id="inputCol"  name="colonia" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.colonia" placeholder="Colonia">
      </div>
  
      <div class="form-group col-md-1">
        <label for="inputZip">Num.Int:</label>
        <input type="text" class="form-control" id="inputNI"  name="numInterior" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.numInterior" placeholder="">
      </div>
  
      <div class="form-group col-md-1">
        <label for="inputZip">Num.Ext:</label>
        <input type="text" class="form-control" id="inputNE"  name="numExterior" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.numExterior" placeholder="">
      </div>
  
      <div class="form-group col-md-1">
        <label for="inputZip">C.P:</label>
        <input type="text" class="form-control" id="inputZip"  name="cp" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.cp" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Municipio:</label>
        <input type="text" class="form-control" id="inputZip" name="municipio" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.municipio" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Localidad:</label>
        <input type="text" class="form-control" id="inputZip" name="localidad" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.localidad" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Estado:</label>
        <input type="text" class="form-control" id="inputZip"  name="estado"  #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.estado" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Pais:</label>
        <input type="text" class="form-control" id="inputZip" name="pais" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.pais" placeholder="">
      </div>
    </div>
    <button class="btn btn-custom right" type="button"  (click)="resetForm(empresaForm)" > Reset </button>
    <button class="boton" type="submit" [disabled]="!empresaForm.valid" >Finalizar</button>
  </form>
  </div>
  
  <br>
</main>-->
<app-sidebar></app-sidebar>
<main class="s-layout__content">
    <app-cards></app-cards>
<div class="contenedor">

    <legend class="center"> Datos del cliente</legend>
  
    <form [formGroup]="empresaForm" (ngSubmit)="onSubmit()">

     
     
     
      <input type="hidden" formControlName="_id" [(ngModel)]="datosEmpresaService.selectEmpresa._id">


      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="inputEmail4" >Nombre del cliente:</label>
          <input type="text" class="form-control" formControlName="nombreDeLaEmpresa" [class.is-invalid] = "nombreDeLaEmpresa.invalid && (nombreDeLaEmpresa.dirty || nombreDeLaEmpresa.touched)">
          <div  *ngIf="(nombreDeLaEmpresa.invalid && nombreDeLaEmpresa.touched) || nombreDeLaEmpresa.dirty">
            <small *ngIf="nombreDeLaEmpresa.errors?.required" class="text-danger">Nombre del cliente requerido</small>
          </div> 
        </div>

        <div class="form-group col-md-4">
          <label for="inputZip">Estatus:</label>
          <input type="text" class="form-control" formControlName="estatus" [class.is-invalid] = "estatus.invalid && (estatus.dirty || estatus.touched)">
          <div  *ngIf="(estatus.invalid && estatus.touched) || estatus.dirty">
            <small *ngIf="estatus.errors?.required" class="text-danger">Estatus requerido</small>
          </div> 
        </div>

        <div class="form-group col-md-8">
          <label for="inputZip">Correo:</label>
          <input type="email" class="form-control" formControlName="email"  [class.is-invalid] = "email.invalid && (email.dirty || email.touched)" placeholder="email@ejemplo.com">
          <div *ngIf="(email.invalid && email.touched) || email.dirty">      
            <small *ngIf="email.errors?.required" class="text-danger">Email requerido</small>    
            <small *ngIf="email.errors?.pattern" class="text-danger">Ingrese un email válido</small>  
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="inputZip">Teléfono:</label>
          <input type="telefono" class="form-control" formControlName="telefono"  [class.is-invalid] = "telefono.invalid && (telefono.dirty || telefono.touched)">
          <div  *ngIf="(telefono.invalid && telefono.touched) || telefono.dirty">
            <small *ngIf="telefono.errors?.required" class="text-danger">Teléfono requerido</small>
          </div> 
        </div>

        <div class="form-group col-md-5">
          <label for="inputZip">Método:</label>          
        <select type="text" class="form-control"  formControlName="metodo" [class.is-invalid] = "metodo.invalid && (metodo.dirty || metodo.touched)">
          <option value="Credito (PPD)">Crédito (PPD)</option>
          <option value="Contado (PUE)">Contado (PUE)</option>
          <div  *ngIf="(metodo.invalid && metodo.touched) || metodo.dirty">
            <small *ngIf="metodo.errors?.required" class="text-danger">Método requerido</small>
          </div> 
        </select>
        </div>

        <div class="form-group col-md-2">
          <label for="inputZip">Días:</label>
          <input type="number" min="1" class="form-control" formControlName="dias" [class.is-invalid] = "dias.invalid && (dias.dirty || dias.touched)">
          <div  *ngIf="(dias.invalid && dias.touched) || dias.dirty">
            <small *ngIf="dias.errors?.required" class="text-danger">Días requerido</small>
          </div> 
        </div>

        <div class="form-group col-md-5"  >
          <label for="inputZip">RFC:</label>
          <input type="text" class="form-control"formControlName="rfc" [class.is-invalid] = "rfc.invalid && (rfc.dirty || rfc.touched)">
          <div  *ngIf="(rfc.invalid && rfc.touched) || rfc.dirty">
            <small *ngIf="rfc.errors?.required" class="text-danger">RFC requerido</small>
          </div> 
        </div>


      <div class="form-group col-md-7">
        <label for="inputZip">Razón Social:</label>
        <input type="text" class="form-control"  formControlName="razon" [class.is-invalid] = "razon.invalid && (razon.dirty || razon.touched)">
        <div  *ngIf="(razon.invalid && razon.touched) || razon.dirty">
          <small *ngIf="razon.errors?.required" class="text-danger">Razón Social requerida</small>
        </div> 
      </div>  
  
      
      <legend class="center"><h4>     Dirección    </h4></legend>
      

      <div class="form-group col-md-6">
        <label for="inputZip">Calle</label>
        <input type="text" class="form-control" formControlName="calle" [class.is-invalid] = "calle.invalid && (calle.dirty || calle.touched)">
        <div  *ngIf="(calle.invalid && calle.touched) || calle.dirty">
          <small *ngIf="calle.errors?.required" class="text-danger">calle requerida</small>
        </div> 
      </div>

      <div class="form-group col-md-4">
        <label for="inputZip">Colonia:</label>
        <input type="text" class="form-control" formControlName="colonia" [class.is-invalid] = "colonia.invalid && (colonia.dirty || colonia.touched)">
        <div  *ngIf="(colonia.invalid && colonia.touched) || colonia.dirty">
          <small *ngIf="colonia.errors?.required" class="text-danger">Colonia requerida</small>
        </div> 
      </div>

  
      <div class="form-group col-md-1">
        <label for="inputZip">No. Int:</label>
        <input type="text" class="form-control" formControlName="numInterior" [class.is-invalid] = "numInterior.invalid && (numInterior.dirty || numInterior.touched)">
        <div  *ngIf="(numInterior.invalid && numInterior.touched) || numInterior.dirty">
          <small *ngIf="numInterior.errors?.required" class="text-danger">No. interior requerido</small>
        </div> 
      </div>

      <div class="form-group col-md-1">
        <label for="inputZip">No. Ext:</label>
        <input type="text" class="form-control" formControlName="numExterior" [class.is-invalid] = "numExterior.invalid && (numExterior.dirty || numExterior.touched)">
        <div  *ngIf="(numExterior.invalid && numExterior.touched) || numExterior.dirty">
          <small *ngIf="numExterior.errors?.required" class="text-danger">No. Exterior requerido</small>
        </div> 
      </div>
  
      <div class="form-group col-md-1">
        <label for="inputZip">C.P:</label>
        <input type="text" class="form-control" formControlName="cp" [class.is-invalid] = "cp.invalid && (cp.dirty || cp.touched)">
        <div  *ngIf="(cp.invalid && cp.touched) || cp.dirty">
          <small *ngIf="cp.errors?.required" class="text-danger">C.P. requerido</small>
        </div> 
      </div>

      <div class="form-group col-md-2">
        <label for="inputZip">Municipio:</label>
        <input type="text" class="form-control" formControlName="municipio" [class.is-invalid] = "municipio.invalid && (municipio.dirty || municipio.touched)">
        <div  *ngIf="(municipio.invalid && municipio.touched) || municipio.dirty">
          <small *ngIf="municipio.errors?.required" class="text-danger">Municipio requerido</small>
        </div> 
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Localidad:</label>
        <input type="text" class="form-control" formControlName="localidad" [class.is-invalid] = "localidad.invalid && (localidad.dirty || localidad.touched)">
        <div  *ngIf="(localidad.invalid && localidad.touched) || localidad.dirty">
          <small *ngIf="localidad.errors?.required" class="text-danger">Localidad requerida</small>
        </div> 
      </div>

      <div class="form-group col-md-2">
        <label for="inputZip">Estado:</label>
        <input type="text" class="form-control" formControlName="estado" [class.is-invalid] = "estado.invalid && (estado.dirty || estado.touched)">
        <div  *ngIf="(estado.invalid && estado.touched) || estado.dirty">
          <small *ngIf="estado.errors?.required" class="text-danger">Estado requerido</small>
        </div> 
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">País:</label>
        <input type="text" class="form-control" formControlName="pais" [class.is-invalid] = "pais.invalid && (pais.dirty || pais.touched)">
        <div  *ngIf="(pais.invalid && pais.touched) || pais.dirty">
          <small *ngIf="pais.errors?.required" class="text-danger">País requerido</small>
        </div>
       </div>
   


  







      
     



     </div>
      <button class="btn btn-custom right" type="button"  (click)="resetForm()" > Reset </button>
      <button class="boton" type="submit">Finalizar</button>      
    </form>  
  </div>
  
  <br>
</main>
