<app-sidebar></app-sidebar>
<main class="s-layout__content">
  <div class="centrarcards">
    <app-cards></app-cards>
  </div>
  <br>
<div class="contenedor">
  <p style="text-align:center; font-size: 30px;"><strong>Reporte de Facturas</strong></p>
  <input type="radio" name="filtro" id="todo" checked>
  <label for="todo">Todos</label>
  <input type="radio" name="filtro" id="cliente">
  <label for="cliente">Clientes</label>
  <input type="radio" name="filtro" id="total">
  <label for="total">Total</label>
  <input type="radio" name="filtro" id="estatus">
  <label for="estatus">Estatus</label>
  <input type="radio" name="filtro" id="folio">
  <label for="folio">Folio</label>


<mat-form-field>
  <mat-label>Buscador</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ej. Cancelado">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="reportes">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Folio Column -->
  <ng-container matColumnDef="folio" class="folio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="folio"> Folio </th>
    <td mat-cell *matCellDef="let element" class="folio"> {{element.folio}} </td>
  </ng-container>

  <!-- Cliente Column -->
  <ng-container matColumnDef="nombreDeLaEmpresa"  class="cliente">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="cliente"> Cliente </th>
    <td mat-cell *matCellDef="let element" class="cliente"> {{element.nombreDeLaEmpresa}} </td>
  </ng-container>

  <!-- Total Column -->
  <ng-container matColumnDef="total" class="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="total"> Total </th>
    <td mat-cell *matCellDef="let element" class="total"> {{element.total}} </td>
  </ng-container>

  <!-- Fecha Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Fecha </th>
    <td mat-cell *matCellDef="let element" > {{element.fecha}} </td>
  </ng-container>

  <!--Estatus Column -->
  <ng-container matColumnDef="estatus" class="estatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="estatus"> Estatus </th>
    <td mat-cell *matCellDef="let element" class="estatus"> {{element.estatus}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

</main>
<app-reportes-articulos></app-reportes-articulos>
