<app-sidebar></app-sidebar>
<main class="s-layout__content">
  <div class="centrarcards">
    <app-cards></app-cards>
  </div>
  <br>
  <a href=""></a>
  <input type="text" class="form-control busqueda" name="filterpost" placeholder="Buscar" [(ngModel)]="filterpost">
  <br>
<div class="contenedor">
  <input type="radio" name="filtro" id="todo" checked>
  <label for="todo">Todos</label>
  <input type="radio" name="filtro" id="cliente">
  <label for="cliente">Clientes</label>
  <input type="radio" name="filtro" id="total">
  <label for="total">Total</label>
  <input type="radio" name="filtro" id="estatus">
  <label for="estatus">Estatus</label>
  <input type="radio" name="filtro" id="folio">
  <label for="folio">Folio</label>

  <p style="text-align:center; font-size: 30px;"><strong>Reporte de Facturas</strong></p>
  <table class="table" id="reportes">
    <thead class="thead" id="reportes">
      <tr>
        <th scope="col" >#</th>
        <th scope="col" class="folio">Folio</th>
        <th scope="col" class="cliente">Cliente</th>
        <th scope="col" class="total">Total</th>
        <th scope="col" class="estatus">Estatus</th>
        <th scope="col">Ver</th>
        <!-- <th scope="col">Editar</th> -->
        <th scope="col">Cancelar</th>
      </tr>
    </thead>
    <tbody id="reportes">
      <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">
      </form>
      <tr *ngFor="let emp of datosEmpresaService2.DatosEmpresa | filter:filterpost; let i = index" [ngStyle]="{'background-color' : (emp.estatus == 'Cancelado') ? '#BCBCBC' : 'white'}">
        <th scope="row">{{i+1}}</th>
          <td class="folio">{{emp.folio}}</td>
          <td class="cliente">{{emp.nombreDeLaEmpresa}}</td>
          <td class="total">{{emp.total}}</td>
          <td class="estatus">{{emp.estatus}}</td>

        <td class="b1">
            <!-- <a a [routerLink]="[ '/cliente-ver']"> -->
            <a class="action-btn" >
              <button class="button button1"  (click)="onEdit(emp)" (click)="ver=!ver "><img src="./../../../assets/img/ojo.png" height="15px" widht="15px" ></button>
            </a>
          </td>
          <!-- <td class="b2" >
            <a class="action-btn" (click)="onEdit(emp)" (click)="monstrar=!monstrar">
              <button class="button button2"><img src="./../../../assets/img/mod.png" height="15px" widht="15px" ></button>
            </a>
          </td> -->
          <td class="b3">
            <a class="action-btn" (click)="cambiarEstatus(emp)">
              <button class="button button3" ><img src="./../../../assets/img/basura.png" height="15px" widht="15px" ></button>
            </a>
          </td>        
    </tbody>
  </table>
</div>
<br>
  <div class="contenedor" *ngIf="!ver">
    <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">
      <div class="form-row" >
        <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa._id">
          <legend class="center"> Ver los datos de Factura</legend>
          <div class="form-group col-md-8">
            <label for="inputFolio" >Folio:</label>
            <a type="text" class="form-control" id="inputFolio" name="folio" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.folio" placeholder="Folio">{{datosEmpresaService2.selectEmpresa.folio}}</a>
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Estatus:</label>
            <a type="text" class="form-control" id="inputEstatus" name="estatus" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.estatus" placeholder="Estatus">{{datosEmpresaService2.selectEmpresa.estatus}}</a>
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Cliente:</label>
            <a type="text" class="form-control" id="inputNombreDeLaEmpresa" name="nombreDeLaEmpresa" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.nombreDeLaEmpresa" placeholder="Cliente">{{datosEmpresaService2.selectEmpresa.nombreDeLaEmpresa}}</a>
          </div>
          <div class="form-group col-md-5">
            <label for="inputZip">Fecha:</label>
            <a type="date" class="form-control" id="inputFecha" name="fecha" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.fecha" placeholder="Fecha">{{datosEmpresaService2.selectEmpresa.fecha}}</a>
          </div>     
          <div class="form-group col-md-7">
            <label for="inputZip">Razón Social:</label>
            <a type="text" class="form-control" id="inputRazon" name="razon" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.razon" placeholder="Razón Social">{{datosEmpresaService2.selectEmpresa.razon}}</a>
          </div>  

          <div class="form-group col-md-3">
            <label for="inputZip">Orden de compra:</label>
            <a type="text" class="form-control"   id="inputordenDeCompra" name="ordenDeCompra" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.ordenDeCompra"  placeholder="Orden de Compra">{{datosEmpresaService2.selectEmpresa.ordenDeCompra}}</a>
          </div> 
          <div class="form-group col-md-4">
            <label for="inputZip">Condiciones:</label>
            <a type="text" class="form-control"   id="inputCondiciones" name="condiciones" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.condiciones"  placeholder="Condiciones">{{datosEmpresaService2.selectEmpresa.condiciones}}</a>
          </div> 
          <div class="form-group col-md-7">
            <label for="inputZip">Vendedor:</label>
            <a type="text" class="form-control"   id="inputVendedor" name="vendedor" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.vendedor"  placeholder="Vendedor">{{datosEmpresaService2.selectEmpresa.vendedor}}</a>
          </div> 
          <div class="form-group col-md-5">
            <label for="inputZip">Via de embarque:</label>
            <a type="text" class="form-control"   id="inputViaDeEmbarque" name="viaDeEmbarque" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.viaDeEmbarque"   placeholder="Via de embarque">{{datosEmpresaService2.selectEmpresa.viaDeEmbarque}}</a>
          </div>
          <div class="row" *ngFor="let row of datosEmpresaService2.selectEmpresa.artarr">
            <div class="col form-group col-md-1" *ngFor="let col of row">
             <div class="form-group col-md-1">
              <input for="inputZip" value="{{col}}">
              </div>
            </div>
          </div> 

          <div class="form-group col-md-3">
            <label for="inputZip">Importe:</label>
            <a type="text" class="form-control"  id="inputImporte" name="importe" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.importe"  placeholder="Importe">{{datosEmpresaService2.selectEmpresa.importe}}</a>
          </div> 
          <div class="form-group col-md-2">
            <label for="inputZip">IVA:</label>
            <a type="text" class="form-control"  id="inputIVA" name="iva" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.iva"  placeholder="IVA">{{datosEmpresaService2.selectEmpresa.iva}}</a>
          </div> 
          <div class="form-group col-md-5">
            <label for="inputZip">Subtotal:</label>
            <a type="text" class="form-control"  id="inputSubtotal" name="subtotal" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.subtotal"  placeholder="Subtotal">{{datosEmpresaService2.selectEmpresa.subtotal}}</a>
          </div> 
          <div class="form-group col-md-7">
            <label for="inputZip">Total:</label>
            <a type="text" class="form-control"  id="inputTotal" name="total" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.total"   placeholder="Total">{{datosEmpresaService2.selectEmpresa.total}}</a>
          </div>

        </div>
      </form>
      </div>
  <br>
    </main >