<app-sidebar></app-sidebar>
<main class="s-layout__content">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <div class="centrarcards">
    <app-cards></app-cards>
  </div>
<div class="contenedor">
  
  <div  *ngFor="let emp of datosEmpresaService2.DatosEmpresa; let i = index">
    {{counter(i+2)}}
  </div>
    <legend class="center"> Generar Factura </legend>
    <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">
      <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa._id">
      <div class="form-row">
       
        <div class="form-group col-md-2">
          <label for="inputZip" >Folio:</label>
          <a type="text"class="form-control" id="inputFolio" name="folio" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.folio">{{folio}}</a>
        </div>
        <div class="form-group col-md-5">
          <label for="inputZip">Fecha:</label>
          <a type="text" class="form-control" id="inputFecha" name="fecha" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.fecha" placeholder="Fecha">{{day+"/"+month+"/"+year +" "+hours+":"+minutes+" UTC"}}</a>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Cliente: </label>
          <input type="text" list="Clientes" class="form-control busqueda" name="nombreDeLaEmpresa" [(ngModel)]='selectedClientes' (change)="selectEmpresa(selectedClientes)">
          <datalist  id="Clientes">
            <!-- <select> -->
              <option  *ngFor="let emp of datosEmpresaService.DatosEmpresa" [value]="emp.nombreDeLaEmpresa"></option>  
            <!-- </select> -->
          </datalist>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Metodo de pago: </label>
          <input type="text" list="Metodo" class="form-control busqueda" name="metodo" [(ngModel)]='selectedMetodo' (change)="selectEmpresa(selectedMetodo)">
          <datalist id="Metodo" >
            <!-- <select> -->
              <option *ngFor="let emp of listaMetodo" [value]="emp"></option>  
              
            <!-- </select> -->
          </datalist>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Forma de pago: </label>
          <input type="text"  list="Forma" class="form-control busqueda" name="forma"[(ngModel)]='selectedForma' (change)="selectEmpresa(selectedForma)">
          <datalist id="Forma" >
            <!-- <select> -->
              <option *ngFor="let emp of listaForma" [value]="emp"></option>  
               
            <!-- </select> -->
          </datalist>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">CFDi: </label>
          <input type="text"  list="CFDi" class="form-control busqueda" name="cfdi" [(ngModel)]='selectedCFDi' (change)="selectEmpresa(selectedCFDi)" >
          <datalist id="CFDi" >
            <!-- <select> -->
              <option *ngFor="let emp of listaCFDi" [value]="emp"></option>  
               
            <!-- </select> -->
          </datalist>
        </div>
        
        <div class="form-group col-md-3">
          <label for="inputZip">Orden de compra:</label>
          <input type="text" class="form-control"   id="inputordenDeCompra" name="ordenDeCompra" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.ordenDeCompra"  placeholder="Razon">
        </div>
        <div class="form-group col-md-4">
          <label for="inputZip">Condiciones:</label>
          <input type="text" class="form-control"   id="inputCondiciones" name="condiciones" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.condiciones"  placeholder="Condiciones">
        </div>
        <div class="form-group col-md-7">
          <label for="inputZip">Vendedor:</label>
          <input type="text" class="form-control"   id="inputVendedor" name="vendedor" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.vendedor"  placeholder="Vendedor">
        </div>
        <div class="form-group col-md-5">
          <label for="inputZip">Via de embarque:</label>
          <input type="text" class="form-control"   id="inputViaDeEmbarque" name="viaDeEmbarque" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.viaDeEmbarque"   placeholder="Via de embarque">
        </div> 
        <div class="form-group col-md-12">
          <label for="inputZip">Razón Social:</label>
          <input type="text" class="form-control" id="inputRazon" name="razon" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.razon" placeholder="Razon">
        </div>  
        <div class="form-group col-md-2">
          <label for="inputState">Nombre: </label>
          <input type="text" list="Nombre" class="form-control busqueda" name="nombre" 
          [(ngModel)]='datosEmpresaService2.selectEmpresa.nombre' (change)="ora(datosEmpresaService2.selectEmpresa.nombre,empresaForm)" >
          <datalist  id="Nombre">
            <!-- <select> -->
              <option  *ngFor="let emp of articuloServicioService.DatosArtServ" [value]="emp.nombre" ></option>  
            <!-- </select> -->
          </datalist> 
        </div> 

        <div class="form-group col-md-2">
          <label for="inputZip">Articulo:</label>
          <a type="text" class="form-control"   id="inputArticulo" name="articulo" 
          #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.articulo"  placeholder="Articulo">{{articulo}}</a>
        </div>

        <div class="form-group col-md-1">
          <label for="inputZip">Unidades:</label>
          <input type="number" class="form-control"   id="inputUnidades" name="unidades" 
          #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.unidades" placeholder=1>
        </div>        
        <div class="form-group col-md-1">
          <label for="inputZip">Precio:</label>
          <a type="text" class="form-control"   id="inputPrecio" name="precio" #name="ngModel"
           [(ngModel)]="datosEmpresaService2.selectEmpresa.precio"   placeholder="Precio">{{precio}}</a>
        </div>
        <div class="form-group col-md-1">
          <label for="inputZip">Descto.:</label>
          <a type="text" class="form-control"   id="inputDescuento" name="descuento" #name="ngModel"
           [(ngModel)]="datosEmpresaService2.selectEmpresa.descuento"  placeholder="Descto">{{descuento}}</a>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">U.Med:</label>
          <a type="text" class="form-control"   id="inputUMed" name="uMed" #name="ngModel"
           [(ngModel)]="datosEmpresaService2.selectEmpresa.uMed"  placeholder="U.Med">{{Umed}}</a>
        </div> 
        <div class="form-group col-md-1">
          <label for="inputZip">Agregar</label>
          <br>
          <button class="btn btn-custom right" type="button"  (click)="nada(empresaForm)" >+</button>
        </div> 

        <div class="row form-group col-md-12" *ngFor="let row of te">
           
          <div class="form-group col-md-2">
           <a type="text" class="form-control">{{row[0]}}</a>
          </div>
          <div class="form-group col-md-2">
            <a type="text" class="form-control">{{row[1]}}</a>
          </div>
          <div class="form-group col-md-1">
            <a type="text" class="form-control">{{row[2]}}</a>
          </div>
          <div class="form-group col-md-1">
            <a type="text" class="form-control">{{row[3]}}</a>
          </div>
          <div class="form-group col-md-1">
            <a type="text" class="form-control">{{row[4]}}</a>
          </div>
          
          <div class="form-group col-md-2">
            <a type="text" class="form-control" >{{row[5]}}</a>
          </div>
          <div class="form-group col-md-1">
            <a type="text" class="form-control">{{row[2]*row[3]}}</a>
          </div>

      </div>  
                
        <!-- <div *ngFor="let emp of te; let i = index; trackBy: trackByFn">
          -{{emp.Unidades}}
        </div> -->
        
        

        <div class="form-group col-md-3">
          <label for="inputZip">Subtotal:</label>
          <a type="text" class="form-control"  id="inputSubtotal" name="subtotal" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.subtotal"  placeholder="Subtotal">{{sumado}}</a>
        </div>

        <div class="form-group col-md-3">
          <label for="inputZip">IVA:</label>
          <input type="number" class="form-control"  id="inputIva" name="iva" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.iva"  placeholder="16"
          (change)="ora2(datosEmpresaService2.selectEmpresa.iva,empresaForm,$event)">
        </div>

        <div class="form-group col-md-5">
          <label for="inputZip">Total:</label>
          <a type="text" class="form-control"  id="inputTotal" name="total" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.total"   placeholder="Total">{{tots}}</a>
        </div>

        
        
      </div>

      <button class="btn" type="button"  (click)="resetForm(empresaForm)" > Reset </button>

      <button class="boton" type="submit" [disabled]="!empresaForm.valid" >Finalizar</button>

    </form>
    
  </div>
  
  
    
  <br>

</main>

  