
<app-sidebar></app-sidebar>
<div class="main">
<app-cards></app-cards>
<div class="contenedor">
  <div  *ngFor="let emp of datosEmpresaService2.DatosEmpresa; let i = index">
    {{counter(i+2)}}
  </div>
    <legend class="center"> Generar Factura </legend>
    <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">
      <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa._id">
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="inputEmail4" >Folio:</label>
          <a type="text"class="form-control" id="inputEmail4" name="nombreDeLaEmpresa" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.nombreDeLaEmpresa">{{folio}}</a>
        </div>
        <div class="form-group col-md-4">
          <label for="inputZip">Estatus:</label>
          <input type="text" class="form-control" id="inputEstatus" name="estatus" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.estatus" placeholder="Estatus">
        </div>
        <div class="form-group col-md-8">
          <label for="inputZip">Monto:</label>
          <input type="email" class="form-control" id="inputCorreo" name="email" #name="ngModel" 
          [(ngModel)]="datosEmpresaService2.selectEmpresa.email" placeholder="Monto">
        </div>
        <div class="form-group col-md-4">
          <label for="inputZip">Cliente:</label>
          <mat-form-field>
            <select matNativeControl [(ngModel)]="datosEmpresaService2.selectEmpresa.telefono" name="car" class="form-control" id="inputTel" name="telefono" #name="ngModel">
              <option value="" selected></option>
              <option *ngFor="let emp of datosEmpresaService.DatosEmpresa" >
                {{emp.nombreDeLaEmpresa}}
              </option>
            </select>
          </mat-form-field>
        </div>
        <div class="form-group col-md-5">
          <label for="inputZip">Fecha:</label>
          <input type="text" class="form-control" id="inputMetodo" name="metodo" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.metodo" placeholder="Fecha">
        </div>
        <div class="form-group col-md-7">
          <label for="inputZip">Razón Social:</label>
          <input type="text" class="form-control" id="inputRazon" name="razon" #name="ngModel" [(ngModel)]="datosEmpresaService2.selectEmpresa.razon" placeholder="Razon">
        </div>  
      </div>
      <button class="btn btn-custom right" type="button"  (click)="resetForm(empresaForm)" > Reset </button>
      <button class="boton" type="submit" [disabled]="!empresaForm.valid" >Finalizar</button>
    </form>
  </div>
</div>
<section>
  <div class="col-s7">
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
        <tr *ngFor="let emp of datosEmpresaService2.DatosEmpresa">
          <td>{{emp.nombreDeLaEmpresa}}</td>
          <td>
            <a  style="cursor: pointer;" class="action-btn" (click)="onEdit(emp)"><img src="./../../../assets/img/mod.png" height="15px" widht="15px" ></a>
        </td>
      </tr>
    </table>
  </div>
</section>
  