

 <div class="s-layout">
  <div class="s-layout__sidebar">
    <a class="s-sidebar__trigger" >
        <img class="barras"src="../assets/img/barras.png">
    </a>
  
    <nav class="s-sidebar__nav">
       <ul>
         
          <li>
             <a class="s-sidebar__nav-link text-center"  routerLink="">
              <img src="../assets/img/LogoFinal2.png">
             </a>
          </li>
          
          <li>
            <a class="s-sidebar__nav-link"  routerLink="/principal">
               <i class="fa fa-home"></i><em>Inicio</em>
            </a>
         </li>
         <li>
          <a class="s-sidebar__nav-link"  >
            <i class="fa fa-user"></i><em>{{ usserLogged.email }}</em>
          </a>
       </li>

       <li>
        <a class="s-sidebar__nav-link" routerLink="/datos-mi-empresa">
          <i class="fas fa-briefcase"></i><em>Datos de mi empresa</em>
        </a>
     </li>
     <li>
      <a class="s-sidebar__nav-link" routerLink="/articulos-y-servicios">
        <i class="fa fa-archive"></i><em>Artículos y Servicios</em>
      </a>
   </li>

          <li>
             <a class="s-sidebar__nav-link" routerLink="/reportes">
              <i class="fas fa-book"></i><em>Reportes</em>
             </a>
          </li>
          <li>
            <a class="s-sidebar__nav-link" routerLink="/configuracion">
              <i class="fa fa-cog"></i><em>Configuración</em>
            </a>
         </li>
         <li>
          <a class="s-sidebar__nav-link" routerLink="/ayuda"  >
            <i class="fa fa-info-circle"></i><em>Ayuda</em>
          </a>
       </li>
      

          <li>
            <a class="s-sidebar__nav-link" style="cursor: pointer;" (click)="authService.logOut()">
              <i class="fas fa-sign-out-alt"></i><em >Salir</em>
            </a>
         </li>

        
       </ul>
    </nav>
  </div>
  
  <!-- Content -->
 
  </div>
 