<app-sidebar></app-sidebar>
<main class="s-layout__content">
  <app-cards></app-cards>

    <br> 
    <input type="text" class="form-control busqueda" name="filterpost" placeholder="Buscar" [(ngModel)]="filterpost">
    <div class="plus">
      <button class="button arriba" type="submit" routerLink="/datos-emisor-prov"><strong>Agregar</strong></button>
      <a></a>
    </div>


   
<div class="contenedor">
  <p style="text-align:center; font-size: 30px;"><strong>Proveedores</strong></p>
  <table class="table">
    <thead class="thead">
      <tr>

        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estatus</th>
        <th scope="col">Ver</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>
        
      </tr>
    </thead>
    <tbody>
     <!--<form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">

      </form>--> 
      <tr *ngFor="let emp of datosEmpresaService.DatosEmpresa  | filter:filterpost | paginate: { itemsPerPage: 5, currentPage: pageActual }  ;let i = index">
        <th scope="row"> {{ 5 * (pageActual - 1) + (i+1) }} </th>
        <td>{{emp.nombreDeLaEmpresa}}</td>
        <td>{{emp.estatus}}</td>
        <td class="b1">
            <!-- <a a [routerLink]="[ '/cliente-ver']"> -->
            <a class="action-btn" >
              <button class="button ver"  (click)="onEdit(emp)" (click)="ver=!ver"><img src="./../../../assets/img/ojo.png" height="15px" widht="15px" ></button>
            </a>        
          </td>
          <td class="b2" > 
            <a class="action-btn" (click)="onEdit(emp)" (click)="monstrar=!monstrar">
              <button class="button editar"><img src="./../../../assets/img/mod.png" height="15px" widht="15px" ></button>
            </a>
          </td>
          <td class="b3">
            <a class="action-btn" (click)="onDelete(emp._id, empresaForm)">
              <button class="button borrar" ><img src="./../../../assets/img/basura.png" height="15px" widht="15px" ></button>
            </a>
          </td>
        
    </tbody>
    
  </table>
  <pagination-controls previousLabel="Anterior"
  nextLabel="Siguiente" (pageChange)="pageActual = $event">
  </pagination-controls>
</div>
<br><div class="contenedor" *ngIf="!monstrar">
    <legend > Editar los Datos del Proveedor</legend>
  
    <!-- <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">
      <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa._id">

    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputEmail4" >Nombre de la empresa:</label>
        <input type="text" class="form-control" id="inputEmail4" name="nombreDeLaEmpresa" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.nombreDeLaEmpresa" placeholder="Nombre" required autofocus >
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Estatus:</label>
        <input type="text" class="form-control" id="inputEstatus" name="estatus" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.estatus" placeholder="Estatus">
      </div>
      <div class="form-group col-md-8">
        <label for="inputZip">Correo:</label>
        <input type="email" class="form-control" id="inputCorreo" name="email" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.email" placeholder="Email">
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Teléfono:</label>
        <input type="telefono" class="form-control" id="inputTel" name="telefono" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.telefono" placeholder="Teléfono">
      </div>
      <div class="form-group col-md-5">
        <label for="inputZip">Método:</label>
        <input type="text" class="form-control" id="inputMetodo" name="metodo" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.metodo" placeholder="Metodo">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Días:</label>
        <input type="number" class="form-control" id="inputDias" name="dias" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.dias" placeholder="Días">
      </div>
      <div class="form-group col-md-5"  >
        <label for="inputZip">RFC:</label>
        <input type="text" class="form-control" id="inputRFC" #name="ngModel" name="rfc" [(ngModel)]="datosEmpresaService.selectEmpresa.rfc" placeholder="RFC">
      </div>
      <div class="form-group col-md-7">
        <label for="inputZip">Razón Social:</label>
        <input type="text" class="form-control" id="inputRazon" name="razon" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.razon" placeholder="Razón Social">
      </div>  
  
  
      <legend class="center"><h4>     Dirección    </h4></legend>
      <div class="form-group col-md-6">
        <label for="inputZip">Calle</label>
        <input type="text" class="form-control" id="inputCalle" name="calle" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.calle" placeholder="Calle">
      </div>
  
      <div class="form-group col-md-4">
        <label for="inputZip">Colonia:</label>
        <input type="text" class="form-control" id="inputCol"  name="colonia" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.colonia" placeholder="Colonia">
      </div>
  
      <div class="form-group col-md-1">
        <label for="inputZip">Num.Int:</label>
        <input type="text" class="form-control" id="inputNI"  name="numInterior" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.numInterior" placeholder="">
      </div>
  
      <div class="form-group col-md-1">
        <label for="inputZip">Num.Ext:</label>
        <input type="text" class="form-control" id="inputNE"  name="numExterior" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.numExterior" placeholder="">
      </div>
  
      <div class="form-group col-md-1">
        <label for="inputZip">C.P:</label>
        <input type="text" class="form-control" id="inputZip"  name="cp" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.cp" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Municipio:</label>
        <input type="text" class="form-control" id="inputZip" name="municipio" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.municipio" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Localidad:</label>
        <input type="text" class="form-control" id="inputZip" name="localidad" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.localidad" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Estado:</label>
        <input type="text" class="form-control" id="inputZip"  name="estado"  #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.estado" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Pais:</label>
        <input type="text" class="form-control" id="inputZip" name="pais" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.pais" placeholder="">
      </div>
    </div>
    <button class="btn btn-custom right" type="button"  (click)="resetForm(empresaForm)" > Reset </button>
    <button class="boton" type="submit" [disabled]="!empresaForm.valid" >Finalizar</button>
  </form> -->
  <form [formGroup]="empresaForm" (ngSubmit)="onSubmit()">

    <input type="hidden" formControlName="_id" [(ngModel)]="datosEmpresaService.selectEmpresa._id">


    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputEmail4" >Nombre del proveedor:</label>
        <input type="text" class="form-control" formControlName="nombreDeLaEmpresa" [(ngModel)]="datosEmpresaService.selectEmpresa.nombreDeLaEmpresa" [class.is-invalid] = "nombreDeLaEmpresa.invalid && (nombreDeLaEmpresa.dirty || nombreDeLaEmpresa.touched)" placeholder="Nombre" required autofocus >
        <div  *ngIf="(nombreDeLaEmpresa.invalid && nombreDeLaEmpresa.touched) || nombreDeLaEmpresa.dirty">
          <small *ngIf="nombreDeLaEmpresa.errors?.required" class="text-danger">nombre de la empresa requerida</small>
        </div> 
      </div>

      <div class="form-group col-md-4">
        <label for="inputZip">Estatus:</label>
        <input type="text" class="form-control" formControlName="estatus" [(ngModel)]="datosEmpresaService.selectEmpresa.estatus" [class.is-invalid] = "estatus.invalid && (estatus.dirty || estatus.touched)">
        <div  *ngIf="(estatus.invalid && estatus.touched) || estatus.dirty">
          <small *ngIf="estatus.errors?.required" class="text-danger">Estatus requerido</small>
        </div> 
      </div>

      <div class="form-group col-md-8">
        <label for="inputZip">Correo:</label>
        <input type="email" class="form-control" formControlName="email" [(ngModel)]="datosEmpresaService.selectEmpresa.email"  [class.is-invalid] = "email.invalid && (email.dirty || email.touched)" placeholder="email@ejemplo.com">
        <div *ngIf="(email.invalid && email.touched) || email.dirty">      
          <small *ngIf="email.errors?.required" class="text-danger">Email requerido</small>    
          <small *ngIf="email.errors?.pattern" class="text-danger">Ingrese un email valido</small>  
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="inputZip">Teléfono:</label>
        <input type="telefono" class="form-control" formControlName="telefono" [(ngModel)]="datosEmpresaService.selectEmpresa.telefono"  [class.is-invalid] = "telefono.invalid && (telefono.dirty || telefono.touched)">
        <div  *ngIf="(telefono.invalid && telefono.touched) || telefono.dirty">
          <small *ngIf="telefono.errors?.required" class="text-danger">Telefono requerido</small>
        </div> 
      </div>

      <div class="form-group col-md-5">
        <label for="inputZip">Método:</label>
        <input type="text" class="form-control"  formControlName="metodo" [(ngModel)]="datosEmpresaService.selectEmpresa.metodo" [class.is-invalid] = "metodo.invalid && (metodo.dirty || metodo.touched)">
        <div  *ngIf="(metodo.invalid && metodo.touched) || metodo.dirty">
          <small *ngIf="metodo.errors?.required" class="text-danger">Metodo requerido</small>
        </div> 
      </div>

      <div class="form-group col-md-2">
        <label for="inputZip">Días:</label>
        <input type="number" min="1" class="form-control" formControlName="dias" [(ngModel)]="datosEmpresaService.selectEmpresa.dias" [class.is-invalid] = "dias.invalid && (dias.dirty || dias.touched)">
        <div  *ngIf="(dias.invalid && dias.touched) || dias.dirty">
          <small *ngIf="dias.errors?.required" class="text-danger">Dias requerido</small>
        </div> 
      </div>

      <div class="form-group col-md-5"  >
        <label for="inputZip">RFC:</label>
        <input type="text" class="form-control"formControlName="rfc" [(ngModel)]="datosEmpresaService.selectEmpresa.rfc" [class.is-invalid] = "rfc.invalid && (rfc.dirty || rfc.touched)">
        <div  *ngIf="(rfc.invalid && rfc.touched) || rfc.dirty">
          <small *ngIf="rfc.errors?.required" class="text-danger">rfc requerido</small>
        </div> 
      </div>


    <div class="form-group col-md-7">
      <label for="inputZip">Razón Social:</label>
      <input type="text" class="form-control"  formControlName="razon" [(ngModel)]="datosEmpresaService.selectEmpresa.razon" [class.is-invalid] = "razon.invalid && (razon.dirty || razon.touched)">
      <div  *ngIf="(razon.invalid && razon.touched) || razon.dirty">
        <small *ngIf="razon.errors?.required" class="text-danger">Razón social requerida</small>
      </div> 
    </div>  

    
    <legend class="center"><h4>     Dirección    </h4></legend>
    

    <div class="form-group col-md-6">
      <label for="inputZip">Calle</label>
      <input type="text" class="form-control" formControlName="calle" [(ngModel)]="datosEmpresaService.selectEmpresa.calle" [class.is-invalid] = "calle.invalid && (calle.dirty || calle.touched)">
      <div  *ngIf="(calle.invalid && calle.touched) || calle.dirty">
        <small *ngIf="calle.errors?.required" class="text-danger">calle requerida</small>
      </div> 
    </div>

    <div class="form-group col-md-4">
      <label for="inputZip">Colonia:</label>
      <input type="text" class="form-control" formControlName="colonia" [(ngModel)]="datosEmpresaService.selectEmpresa.colonia" [class.is-invalid] = "colonia.invalid && (colonia.dirty || colonia.touched)">
      <div  *ngIf="(colonia.invalid && colonia.touched) || colonia.dirty">
        <small *ngIf="colonia.errors?.required" class="text-danger">Colonia requerida</small>
      </div> 
    </div>


    <div class="form-group col-md-1">
      <label for="inputZip">Num.Int:</label>
      <input type="text" class="form-control" formControlName="numInterior" [(ngModel)]="datosEmpresaService.selectEmpresa.numInterior" [class.is-invalid] = "numInterior.invalid && (numInterior.dirty || numInterior.touched)">
      <div  *ngIf="(numInterior.invalid && numInterior.touched) || numInterior.dirty">
        <small *ngIf="numInterior.errors?.required" class="text-danger">Numero interior requerido</small>
      </div> 
    </div>

    <div class="form-group col-md-1">
      <label for="inputZip">Num.Ext:</label>
      <input type="text" class="form-control" formControlName="numExterior" [(ngModel)]="datosEmpresaService.selectEmpresa.numExterior" [class.is-invalid] = "numExterior.invalid && (numExterior.dirty || numExterior.touched)">
      <div  *ngIf="(numExterior.invalid && numExterior.touched) || numExterior.dirty">
        <small *ngIf="numExterior.errors?.required" class="text-danger">Numero Exterior requerido</small>
      </div> 
    </div>

    <div class="form-group col-md-1">
      <label for="inputZip">C.P:</label>
      <input type="text" class="form-control" formControlName="cp" [(ngModel)]="datosEmpresaService.selectEmpresa.cp" [class.is-invalid] = "cp.invalid && (cp.dirty || cp.touched)">
      <div  *ngIf="(cp.invalid && cp.touched) || cp.dirty">
        <small *ngIf="cp.errors?.required" class="text-danger">Codigo postal requerido</small>
      </div> 
    </div>

    <div class="form-group col-md-2">
      <label for="inputZip">Municipio:</label>
      <input type="text" class="form-control" formControlName="municipio" [(ngModel)]="datosEmpresaService.selectEmpresa.municipio" [class.is-invalid] = "municipio.invalid && (municipio.dirty || municipio.touched)">
      <div  *ngIf="(municipio.invalid && municipio.touched) || municipio.dirty">
        <small *ngIf="municipio.errors?.required" class="text-danger">municipio requerido</small>
      </div> 
    </div>

    <div class="form-group col-md-2">
      <label for="inputZip">Localidad:</label>
      <input type="text" class="form-control" formControlName="localidad" [(ngModel)]="datosEmpresaService.selectEmpresa.localidad" [class.is-invalid] = "localidad.invalid && (localidad.dirty || localidad.touched)">
      <div  *ngIf="(localidad.invalid && localidad.touched) || localidad.dirty">
        <small *ngIf="localidad.errors?.required" class="text-danger">localidad requerida</small>
      </div> 
    </div>

    <div class="form-group col-md-2">
      <label for="inputZip">Estado:</label>
      <input type="text" class="form-control" formControlName="estado" [(ngModel)]="datosEmpresaService.selectEmpresa.estado" [class.is-invalid] = "estado.invalid && (estado.dirty || estado.touched)">
      <div  *ngIf="(estado.invalid && estado.touched) || estado.dirty">
        <small *ngIf="estado.errors?.required" class="text-danger">estado requerido</small>
      </div> 
    </div>

    <div class="form-group col-md-2">
      <label for="inputZip">Pais:</label>
      <input type="text" class="form-control" formControlName="pais" [(ngModel)]="datosEmpresaService.selectEmpresa.pais" [class.is-invalid] = "pais.invalid && (pais.dirty || pais.touched)">
      <div  *ngIf="(pais.invalid && pais.touched) || pais.dirty">
        <small *ngIf="pais.errors?.required" class="text-danger">pais requerido</small>
      </div>
     </div>
   



   </div>
    <button class="btn btn-custom right" type="button"  (click)="resetForm()" > Reset </button>
    <button class="boton" type="submit">Finalizar</button>      
  </form>   
  </div>





<br><div class="contenedor" *ngIf="!ver" >
     <form [formGroup]="empresaForm" (ngSubmit)="onSubmit()">
      <div class="form-row" >
       
    
    
          <legend class="center">Ver los Datos del Proveedor</legend>
          <input type="hidden" formControlName="_id" [(ngModel)]="datosEmpresaService.selectEmpresa._id">


         
            <div class="form-group col-md-8">
              <label for="inputEmail4" >Nombre del proveedor:</label>
              <input type="text" class="form-control" formControlName="nombreDeLaEmpresa" [(ngModel)]="datosEmpresaService.selectEmpresa.nombreDeLaEmpresa"  disabled>
            </div>
      
            <div class="form-group col-md-4">
              <label for="inputZip">Estatus:</label>
              <input type="text" class="form-control" formControlName="estatus" [(ngModel)]="datosEmpresaService.selectEmpresa.estatus"  disabled>
              
            </div>
      
            <div class="form-group col-md-8">
              <label for="inputZip">Correo:</label>
              <input type="email" class="form-control" formControlName="email" [(ngModel)]="datosEmpresaService.selectEmpresa.email"disabled>
             
            </div>
      
            <div class="form-group col-md-4">
              <label for="inputZip">Teléfono:</label>
              <input type="telefono" class="form-control" formControlName="telefono" [(ngModel)]="datosEmpresaService.selectEmpresa.telefono" disabled>
             
            </div>
      
            <div class="form-group col-md-5">
              <label for="inputZip">Método:</label>
              <input type="text" class="form-control"  formControlName="metodo" [(ngModel)]="datosEmpresaService.selectEmpresa.metodo" disabled>
             
            </div>
      
            <div class="form-group col-md-2">
              <label for="inputZip">Días:</label>
              <input type="number" min="1" class="form-control" formControlName="dias" [(ngModel)]="datosEmpresaService.selectEmpresa.dias"  disabled>
             
            </div>
      
            <div class="form-group col-md-5"  >
              <label for="inputZip">RFC:</label>
              <input type="text" class="form-control"formControlName="rfc" [(ngModel)]="datosEmpresaService.selectEmpresa.rfc" disabled>
             
            </div>
      
      
          <div class="form-group col-md-7">
            <label for="inputZip">Razón Social:</label>
            <input type="text" class="form-control"  formControlName="razon" [(ngModel)]="datosEmpresaService.selectEmpresa.razon" disabled> 
           
          </div>  
      
          
          <legend class="center"><h4>     Dirección    </h4></legend>
          
      
          <div class="form-group col-md-6">
            <label for="inputZip">Calle</label>
            <input type="text" class="form-control" formControlName="calle" [(ngModel)]="datosEmpresaService.selectEmpresa.calle" disabled>
            
          </div>
      
          <div class="form-group col-md-4">
            <label for="inputZip">Colonia:</label>
            <input type="text" class="form-control" formControlName="colonia" [(ngModel)]="datosEmpresaService.selectEmpresa.colonia" disabled> 
            
          </div>
      
      
          <div class="form-group col-md-1">
            <label for="inputZip">Num.Int:</label>
            <input type="text" class="form-control" formControlName="numInterior" [(ngModel)]="datosEmpresaService.selectEmpresa.numInterior"  disabled>
          
          </div>
      
          <div class="form-group col-md-1">
            <label for="inputZip">Num.Ext:</label>
            <input type="text" class="form-control" formControlName="numExterior" [(ngModel)]="datosEmpresaService.selectEmpresa.numExterior" disabled>
            
          </div>
      
          <div class="form-group col-md-1">
            <label for="inputZip">C.P:</label>
            <input type="text" class="form-control" formControlName="cp" [(ngModel)]="datosEmpresaService.selectEmpresa.cp" disabled>
            
          </div>
      
          <div class="form-group col-md-2">
            <label for="inputZip">Municipio:</label>
            <input type="text" class="form-control" formControlName="municipio" [(ngModel)]="datosEmpresaService.selectEmpresa.municipio" disabled>
             
          </div>
      
          <div class="form-group col-md-2">
            <label for="inputZip">Localidad:</label>
            <input type="text" class="form-control" formControlName="localidad" [(ngModel)]="datosEmpresaService.selectEmpresa.localidad" disabled>
           
          </div>
      
          <div class="form-group col-md-2">
            <label for="inputZip">Estado:</label>
            <input type="text" class="form-control" formControlName="estado" [(ngModel)]="datosEmpresaService.selectEmpresa.estado" disabled>
            
          </div>
      
          <div class="form-group col-md-2">
            <label for="inputZip">Pais:</label>
            <input type="text" class="form-control" formControlName="pais" [(ngModel)]="datosEmpresaService.selectEmpresa.pais" disabled>
            
           </div>
         
      
      
      
         </div>
      </form>
    
      </div>
      
  <br>
    </main>


