

<div class="abajo">

  <div class="botons">
    <h1>Políticas de privacidad </h1>
</div>
<br>
<div class="divs">

<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et tincidunt sapien. Pellentesque elementum sollicitudin tortor, pulvinar imperdiet felis placerat non. Aliquam feugiat auctor molestie. Etiam at aliquam erat. Vivamus quis massa tempor, fringilla erat in, ultrices lorem. Duis tellus mi, lacinia a erat ac, vulputate mattis tortor. Integer ut lacus lectus. Nunc rutrum dolor purus, nec molestie magna pretium eget. Fusce cursus magna et sollicitudin suscipit. In malesuada mattis ullamcorper. Vestibulum congue mollis enim vitae sagittis. Curabitur nec dolor fermentum, condimentum felis vel, eleifend lorem. Nam nec orci rutrum, consectetur ante nec, ultricies dolor. Mauris egestas efficitur orci. Integer vitae velit nisi.
</p>
<br>

</div>
<br>
<form>
  <button class="añadir"  routerLink="/registro">Volver</button>
</form>
</div>


<hr />


