<div class="contenedor">
  <img  src="../assets/img/LogoFinal.png">
  <h2>Iniciar Sesión</h2>
  <form  #empleadoForm="ngForm" (submit)="signIn()">
<h4>Correo:</h4>
<input type="email" [(ngModel)]="user.email" id="fname" name="email" class="form-control" placeholder="Email" required autofocus><br><br>
<h4>Contraseña:</h4>
<input type="password" id="fname" [(ngModel)]="user.password" name="password" placeholder="Password" required><br><br>
<div class="botones">  			
			<!-- <a href="#">Olvidaste tu contraseña?</a> -->
<button class="login" type="submit" [disabled]="!empleadoForm.valid">Entrar</button>
<button class="login" type="submit" routerLink="/registro">Registro</button>
</div>
  </form>
</div>
