<app-barra></app-barra>


<!--
<div class="contenedor">
  <img  src="../assets/img/LogoFinal2.png">
  
  <form  #empleadoForm="ngForm" (submit)="signIn()">
    <div class="form-group">
      <h4>Correo:</h4>
      <input type="email"  class="form-control" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus><br>
    </div>

    <div class="form-group">
      <h4>Contraseña:</h4>
      <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password" required><br>
    </div>

<label class="recordar"> <h5>Recordar Contraseña</h5>
  <input type="checkbox">
  <span class="checkbox"></span>
</label>

<h5 ><a href="/recovery">¿Olvido su contraseña?</a></h5>
  <div class="botones">  			
<button class="login" type="submit" [disabled]="!empleadoForm.valid">Entrar</button>
<button class="login" type="submit" routerLink="/registro">Registro</button>
</div>
  </form>
</div>
-->

<div class="contenedor">
  <img  src="../assets/img/LogoFinal2.png">

  <form [formGroup]="loginForm" (submit)="signIn()">

      <div class="form-group">                 
        <input type="email" formControlName="email" placeholder="Email" [class.is-invalid] = "email.invalid && (email.dirty || email.touched)">
        <div *ngIf="(email.invalid && email.touched) || email.dirty">
          <small *ngIf="email.errors?.required" class="text-danger">Email requerido</small>
          <small *ngIf="email.errors?.pattern" class="text-danger">Ingresa un email valido</small>  
        </div>
      </div>
  

      <div class="form-group">    
        <input type="password" formControlName="password"  placeholder="Contraseña"  [class.is-invalid] = "password.invalid && (password.dirty || password.touched)">  
        <div *ngIf="(password.invalid && password.touched) || password.dirty">
          <small *ngIf="password.errors?.required" class="text-danger">Contraseña requerida</small>
          <small *ngIf="password.errors?.pattern" class="text-danger">Ingresa una contraseña valida</small>
        </div>      
      </div>



      <label class="recordar"> <h6>Recordar Contraseña</h6>
        <input type="checkbox">
        <span class="checkbox"></span>
      </label>
      
      <h6 ><a href="/recovery">¿Olvidó su contraseña?</a></h6>
     
      
        <div class="botones">  			
      <button class="login" type="submit">Entrar</button>
      <!--<button class="login" type="submit" routerLink="/registro">Registro</button>--> 
      <h6 >¿Aún no tienes una cuenta?    <a href="/registro">Regístrate ahora</a></h6>
      </div>







  </form>


</div>