<app-barra></app-barra>

<div class="contenedor">
  <img  src="../assets/img/LogoFinal2.png">
  <form>
<div class="form-group">
  <h5>Correo:</h5>
  <input type="text" class="form-control" >
</div>
<div class="form-group">
  <h5>Contraseña:</h5>
  <input type="password" class="form-control" >
</div>


<label class="recordar"> <h5>Recordar Contraseña</h5>
  <input type="checkbox">
  <span class="checkbox"></span>
</label>

<h5 ><a href="/olvido">¿Olvido su contraseña?</a>
  </h5>
<div class="botones">
<button class="login" type="submit" routerLink="/principal">Entrar</button>
<button class="login" type="submit" routerLink="/registro">Registro</button>
</div>
  </form>
</div>



