<ul>
    <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
        <li class="nav-item" style="float:right" >
          <a class="nav-link" routerLinkActive="Active" routerLink="/registro">Registro</a>
        </li>
      <li class="nav-item" style="float:right" >
        <a class="nav-link" routerLinkActive="Active" routerLink="/login">Inicia Sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/formulario" >Facturacion</a>
    </li>
    </ng-container>

    <ng-template #loggedIn>
        <li class="nav-item">
            <a class="nav-link"  routerLink="/Principal" >Facturacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/principal" >Principal</a>
        </li>
            <li style="float:right"><a class="active" style="cursor: pointer;"  (click)="authService.logOut()">Cerrar Sesión</a></li>
    </ng-template>

  </ul>


  <!-- <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a href="/principal" class="brand-logo">Principal</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          
          <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="Active" routerLink="/registro">Registro</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="Active" routerLink="/login">Inicia Sesión</a>
          </li>
        </ng-container>

        <ng-template #loggedIn>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/formulario" >Facturacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/datos-empresa" >Datos De Empresa</a>
           </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="authService.logOut()" >Cerrar Sesión </a>
            </li>          
        </ng-template>

      </ul>
    </div>
  </nav> -->