
<ul  class="nav nav-pills">
  <li class="active">
    <a  href="#1a" data-toggle="tab">Datos de persona</a>
  </li>
  <li><a href="#2a" data-toggle="tab">Datos</a>
  </li>
  <li><a href="#3a" data-toggle="tab">Tercera</a>
  </li>
  <li><a href="#4a" data-toggle="tab">Cuarta</a>
  </li>
</ul>
<div class="container"><h1>Formulario </h1></div>


<div id="exTab1" class="container">
			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
          <form>
            <h4>Nombre :</h4>
            <input type="text" id="fname" name="fname" ><br><br>
            <h4>CURP:</h4>
            <input type="password" id="fname" name="fname"><br><br>
            <div class="botones">
              <button class="login" ><a href="#2a" data-toggle="tab">Siguiente</a>
              </button>
            </div>
              </form>
				</div>
				<div class="tab-pane" id="2a">
          <form>
            <h4>Nombre 2 :</h4>
            <input type="text" id="fname" name="fname"><br><br>
            <h4>CURP 2:</h4>
            <input type="password" id="fname" name="fname"><br><br>
            <div class="botones">
              <button class="login" ><a href="#1a" data-toggle="tab">Anterior</a></button>
              <button class="login" ><a href="#3a" data-toggle="tab">Siguiente</a></button>
            </div>
              </form>
            </div>
        <div class="tab-pane" id="3a">
          <h4>CURP 2:</h4>
				</div>
          <div class="tab-pane" id="4a">
            <h4>Nombre 2 :</h4>
				</div>
			</div>
  </div>

<!-- Bootstrap core JavaScript-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
