

<div class="contenedor">
    <legend class="center">Datos de la Empresa</legend>
    <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre de la empresa:</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Telefono</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">RFC:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">E-Mail:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <legend class="center">Dirección</legend>
  
  
      <div class="form-group col-md-2">
        <label for="inputZip">Calle</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Colonia:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Num.Interior:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Num.Exterior:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">C.P:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Municipio:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Localidad:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Estado:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Folio:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Pais:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Lugar de expedicion:</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Fecha de Emision:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Cantidad:</label>
        <input type="number" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Unidad:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Concepto / Descripcion:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Valor Unitario:</label>
        <input type="number" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Importe:</label>
        <input type="number" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Importe con letra:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Metodo de pago:</label>
        <input type="number" class="form-control" id="inputZip">
      </div>
  
    </div>
    <button class="boton" type="submit" routerLink="/principal">Finalizar</button>
  </form>
  </div>
  <!--
  <div class="contenedor">
  
    <h1>Datos de la Empresa</h1>
    <form>
      <div  class="izq">
  <h3>Nombre de la empresa:</h3>
  <input type="text" id="fname" name="fname"><br><br>
  <h3>Telefono:</h3>
  <input type="password" id="fname" name="fname"><br><br>
      </div>
      <div  class="center">
  <h3>RFC:</h3>
  <input type="text" id="fname" name="fname"><br><br>
  </div>
  
  <h3>E-Mail:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h2>Dirección</h2>
  
  <h3>Calle:</h3>
  <input type="text" id="fname" name="fname"><br><br>
  <h3>Colonia:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Num.Interior:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Num.Exterior:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>C.P:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Municipio:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Localidad:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Estado:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Folio:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Pais:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Lugar de Expedicion:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Fecha de Emision:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Cantidad</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Unidad:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Concepto / Descripcion</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Valor Unitario</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Importe</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Importe con letra</h3>
  <input type="password" id="fname" name="fname"><br><br>
  <h3>Metodo de pago:</h3>
  <input type="password" id="fname" name="fname"><br><br>
  
  
  <button class="boton" type="submit" routerLink="/principal">Finalizar</button>
  
    </form>
  </div>
   -->
  