

<div class="contenedor">
    <legend class="center">Datos de la Empresa</legend>
    <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)" required>
      <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa._id">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre de la empresa:</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.nombreDeLaEmpresa" placeholder="Nombre" required autofocus>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Telefono</label>
        <input type="text" class="form-control" id="inputZip" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.telefono" placeholder="Telefono" required>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">RFC:</label>
        <input type="text" class="form-control" id="inputZip" [(ngModel)]="datosEmpresaService.selectEmpresa.telefono" placeholder="Telefono" required>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">E-Mail:</label>
        <input type="text" class="form-control" id="inputZip" [(ngModel)]="datosEmpresaService.selectEmpresa.email" placeholder="Telefono" required>
      </div>
      <legend class="center">Dirección</legend>
  
  
      <div class="form-group col-md-2">
        <label for="inputZip">Calle</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Colonia:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Num.Interior:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Num.Exterior:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">C.P:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Municipio:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Localidad:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Estado:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Folio:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Pais:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Lugar de expedicion:</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Fecha de Emision:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Cantidad:</label>
        <input type="number" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Unidad:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Concepto / Descripcion:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Valor Unitario:</label>
        <input type="number" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Importe:</label>
        <input type="number" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Importe con letra:</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Metodo de pago:</label>
        <input type="number" class="form-control" id="inputZip">
      </div>
  
    </div>
    <button class="boton" type="submit" routerLink="/principal">Finalizar</button>
  </form>
  </div>
  