
<div class="container" style=" text-align: center;
">
  <p class="card-text"></p>
  <div class="card-deck mt-2">
    <div class="card " style="cursor: pointer;" routerLink="/prov" routerLinkActive="cardsactivas" >
      <div class="card-body text-center">
        <p class="card-text" >Proveedores</p>
      </div>
    </div>
    <div class="card " style="cursor: pointer;"  routerLink="/clientes" routerLinkActive="cardsactivas">
      <div class="card-body text-center">
        <p class="card-text" >Clientes</p>
      </div>
    </div>

    <div class="card "  style="cursor: pointer;" routerLink="/fact" routerLinkActive="cardsactivas" >
      <div class="card-body text-center">
        <p class="card-text" >Facturacion</p>
      </div>
    </div>

  </div>
</div>