
<div class="container">
  <p class="card-text"></p>
  <div class="card-deck">
    <div class="card " style="cursor: pointer;" routerLink="/prov">
      <div class="card-body text-center">
        <p class="card-text" >Proveedores</p>
      </div>
    </div>
    <div class="card " style="cursor: pointer;"  routerLink="/clientes">
      <div class="card-body text-center">
        <p class="card-text" >Clientes</p>
      </div>
    </div>

    <div class="card "  style="cursor: pointer;" routerLink="/fact">
      <div class="card-body text-center">
        <p class="card-text" >Facturacion</p>
      </div>
    </div>

  </div>
</div>