.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.747);
  align-items: center;
  width: 300px;
  transition: transform .2s;
  margin-left: 7%;
  font-size: 20px; 
  margin-top: 0%;
}
.card:hover{
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 51, 255, 0.664);
  transform: scale(1.1); 
  color:black;
}

.cardsactivas{
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 51, 255, 0.664);
  transform: scale(1.1); 
  color:black;
  font-weight: bold 30px; 

}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  .card{
   display: block;
   margin-left: auto;
   margin-right: auto 
  }

}



