<div class="todo">
    <div class="row" >
      <div class="column">
        <div class="card"  routerLink="/DatosEmpresa">
          <h3>Datos Empresa</h3>
        </div>
      </div>
    
      <div class="column">
        <div class="card" routerLink="/DatosEmisor">
          <h3>Datos Emisor</h3>
        </div>
      </div>
    
      <div class="column">
        <div class="card" routerLink="/DatosReceptor">
          <h3>Datos Receptor</h3>
        </div>
      </div>
    
      <div class="column">
        <div class="card" routerLink="/Datos">
          <h3>Datos</h3>
        </div>
      </div>
    </div>
    
    
    <div class="contenedor">
      <table>
       <tr>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Points</th>
         <th>Points</th>
         <th>Points</th>
         <th>Points</th>
         <th>Points</th>
         <th>Points</th>
         <th>Points</th>
         <th>Points</th>
         <th>Points</th>
         <th>Points</th>
       </tr>
       <tr>
         <td>Jill</td>
         <td>Smith</td>
         <td>50</td>
         <td>50</td>
         <td>50</td>
         <td>50</td>
         <td>50</td>
         <td>50</td>
         <td>50</td>
         <td>50</td>
         <td>50</td>
         <td>50</td>
       </tr>
       <tr>
         <td>Eve</td>
         <td>Jackson</td>
         <td>94</td>
         <td>94</td>
         <td>94</td>
         <td>94</td>
         <td>94</td>
         <td>94</td>
         <td>94</td>
         <td>94</td>
         <td>94</td>
         <td>94</td>
       </tr>
       <tr>
         <td>Adam</td>
         <td>Johnson</td>
         <td>67</td>
         <td>67</td>
         <td>67</td>
         <td>67</td>
         <td>67</td>
         <td>67</td>
         <td>67</td>
         <td>67</td>
         <td>67</td>
         <td>67</td>
       </tr>
     </table>
    </div>
    </div>
    