<app-sidebar></app-sidebar>
<div class="main">
<app-cards></app-cards>
<div class="contenedor">

    <legend class="center"> Datos del proveedor</legend>
  
    <form #empresaForm="ngForm" (ngSubmit)="onSubmit(empresaForm)">
      <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa._id">

    <div class="form-row">
      <div class="form-group col-md-7">
        <label for="inputEmail4" >Nombre del proveedor:</label>
        <input type="text" class="form-control" id="inputEmail4" name="nombreDeLaEmpresa" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.nombreDeLaEmpresa" placeholder="Nombre" required autofocus >
      </div>
      <div class="form-group col-md-5">
        <label for="inputZip">Estatus</label>
        <input type="text" class="form-control" id="inputEstatus" name="estatus" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.estatus" placeholder="Estatus">
      </div>
      <div class="form-group col-md-5">
        <label for="inputZip">Correo</label>
        <input type="email" class="form-control" id="inputCorreo" name="correo" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.email" placeholder="Email">
      </div>
      <div class="form-group col-md-5">
        <label for="inputZip">Telefono</label>
        <input type="telefono" class="form-control" id="inputTel" name="telefono" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.telefono" placeholder="Telefono">
      </div>
      <div class="form-group col-md-5">
        <label for="inputZip">Metodo</label>
        <input type="text" class="form-control" id="inputMetodo" name="metodo" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.metodo" placeholder="Estatus">
      </div>
      <div class="form-group col-md-5">
        <label for="inputZip">Dias</label>
        <input type="number" class="form-control" id="inputDias" name="dias" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.dias" placeholder="Estatus">
      </div>
      <div class="form-group col-md-5">
        <label for="inputZip">Razon</label>
        <input type="text" class="form-control" id="inputRazon" name="razon" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.razon" placeholder="Estatus">
      </div>  
  
      <div class="form-group col-md-5"  >
        <label for="inputZip">RFC:</label>
        <input type="text" class="form-control" id="inputRFC" #name="ngModel" name="rfc" [(ngModel)]="datosEmpresaService.selectEmpresa.rfc" placeholder="RFC">
      </div>
  
      <legend class="center"><h4>     Dirección    </h4></legend>
      <div class="form-group col-md-6">
        <label for="inputZip">Calle</label>
        <input type="text" class="form-control" id="inputCalle" name="calle" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.calle" placeholder="Calle">
      </div>
  
      <div class="form-group col-md-4">
        <label for="inputZip">Colonia:</label>
        <input type="text" class="form-control" id="inputCol"  name="colonia" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.colonia" placeholder="Colonia">
      </div>
  
      <div class="form-group col-md-1">
        <label for="inputZip">Num.Int:</label>
        <input type="text" class="form-control" id="inputNI"  name="numInterior" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.numInterior" placeholder="">
      </div>
  
      <div class="form-group col-md-1">
        <label for="inputZip">Num.Ext:</label>
        <input type="text" class="form-control" id="inputNE"  name="numExterior" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.numExterior" placeholder="">
      </div>
  
      <div class="form-group col-md-1">
        <label for="inputZip">C.P:</label>
        <input type="text" class="form-control" id="inputZip"  name="cp" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.cp" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Municipio:</label>
        <input type="text" class="form-control" id="inputZip" name="municipio" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.municipio" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Localidad:</label>
        <input type="text" class="form-control" id="inputZip" name="localidad" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.localidad" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Estado:</label>
        <input type="text" class="form-control" id="inputZip"  name="estado"  #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.estado" placeholder="">
      </div>
  
      <div class="form-group col-md-2">
        <label for="inputZip">Pais:</label>
        <input type="text" class="form-control" id="inputZip" name="pais" #name="ngModel" [(ngModel)]="datosEmpresaService.selectEmpresa.pais" placeholder="">
      </div>
    </div>
    <button class="btn btn-custom right" type="button"  (click)="resetForm(empresaForm)" > Reset </button>
    <button class="boton" type="submit" [disabled]="!empresaForm.valid" >Finalizar</button>
  </form>
  </div>
</div>
  <section>

    <div class="col-s7">
                    <table class="responsive-table highlight">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let emp of datosEmpresaService.DatosEmpresa">
                            <td>{{emp.nombreDeLaEmpresa}}</td>
                            <td>
                                <a  style="cursor: pointer;" class="action-btn" (click)="onEdit(emp)"><img src="./../../../assets/img/mod.png" height="15px" widht="15px" >
                                   
                                  </a>
                            </td>
                        </tr>
                    </table>
        </div>
</section>
  